Repository AVEVA/CONNECT-data-services-developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @digitaljoshua, @osimarkrogers, @lassato-OSI, @VictoriaTouati-AVEVA, @afloresOSI, @dwicinas-osisoft

Update Markdown from sds-libraries-20210726.3
  content/api-reference/sequential-data-store/sds-stream-data-transform.md
Owners: @digitaljoshua

Update Markdown from sds-libraries-20210726.4
  content/api-reference/sequential-data-store/sds-stream-bulk-data.md
  content/api-reference/sequential-data-store/sds-stream-data-transform.md
  content/api-reference/sequential-data-store/sds-stream-data.md
Owners: @digitaljoshua

Update Markdown from sds-libraries-20210726.5
  content/api-reference/sequential-data-store/sds-stream-bulk-data.md
  content/api-reference/sequential-data-store/sds-stream-data-transform.md
  content/api-reference/sequential-data-store/sds-stream-data.md
Owners: @digitaljoshua

Update Markdown from ocs-metadata-rules-20210727.1
  content/api-reference/asset-rules/asset-access-control-list.md
  content/api-reference/asset-rules/asset-asset-rule-preview.md
  content/api-reference/asset-rules/asset-asset-rule-suggestion.md
  content/api-reference/asset-rules/asset-asset-rules.md
Owners: @lassato-OSI

Update Markdown from ocs-metadata-rules-20210727.1
  content/api-reference/metadata-rules/metadata-access-control-list.md
  content/api-reference/metadata-rules/metadata-metadata-rule-preview.md
  content/api-reference/metadata-rules/metadata-metadata-rule-suggestion.md
  content/api-reference/metadata-rules/metadata-metadata-rules.md
Owners: @digitaljoshua

markdown updates
  content/communities/manage-a-community.md
  content/communities/share-unshare-streams.md
Owners: @dwicinas-osisoft

Update Markdown from identity-services.infrastructure-20210727.1
  content/api-reference/identity/identity-claims.md
  content/api-reference/identity/identity-client-credential-clients-roles.md
  content/api-reference/identity/identity-client-credential-clients.md
  content/api-reference/identity/identity-hybrid-clients.md
  content/api-reference/identity/identity-identity-providers.md
  content/api-reference/identity/identity-tenants-roles.md
  content/api-reference/identity/identity-tenants-users.md
  content/api-reference/identity/identity-users-roles.md
Owners: @digitaljoshua

Markdown updates
  content/overview/who-uses-ocs.md
Owners: @lassato-OSI, @afloresOSI

Update data-views.md
  content/add-organize-data/organize-data/data-views/data-views.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Update data-views.md
  content/add-organize-data/organize-data/data-views/data-views.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Update data-views.md
  content/add-organize-data/organize-data/data-views/data-views.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Update Markdown from identity-services.infrastructure-20210727.3
  content/api-reference/identity/identity-identity-providers.md
Owners: @digitaljoshua

Update quick-start-define-a-data-view.md
  content/api-reference/data-views/define-a-data-view/quick-start-define-a-data-view.md
Owners: @osimarkrogers

Update quick-start-get-data-view-data.md
  content/api-reference/data-views/get-data-view-data/quick-start-get-data-view-data.md
Owners: @osimarkrogers

Cleaning up markup, fixing links
  content/add-organize-data/organize-data/assets/asset-rules.md
  content/add-organize-data/organize-data/assets/create-asset-rule.md
  content/add-organize-data/organize-data/assets/filter-assets-asset-explorer.md
  content/add-organize-data/organize-data/assets/images/second-rule-token-2.png
  content/add-organize-data/organize-data/assets/images/second-token.png
  content/add-organize-data/organize-data/assets/second-rule.md
  content/add-organize-data/organize-data/assets/toc.yml
  content/add-organize-data/organize-data/assets/tokens-generate-assets.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Add Working with assets
  content/add-organize-data/organize-data/assets/toc.yml
  content/add-organize-data/organize-data/assets/work-with-assets.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Update Markdown from ocs-metadata-rules-20210728.1
  content/api-reference/asset-rules/asset-rules-internal/asset-rule-admin.md
Owners: @lassato-OSI

Update Markdown from ocs-metadata-rules-20210728.1
  content/api-reference/metadata-rules/metadata-rules-internal/metadata-rule-admin.md
Owners: @digitaljoshua

Minor change.
  content/add-organize-data/organize-data/assets/create-asset-rule.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Update data-views.md
  content/add-organize-data/organize-data/data-views/data-views.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Update data-views.md
  content/add-organize-data/organize-data/data-views/data-views.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI

add new storage-account-backup.yaml file for Sherlock
  content/external-references/storage-account-backup.yaml
Owners: @digitaljoshua

Update Markdown from ocs-metadata-rules-20210729.1
  content/api-reference/asset-rules/asset-access-control-list.md
  content/api-reference/asset-rules/asset-asset-change-data.md
  content/api-reference/asset-rules/asset-asset-rule-preview.md
  content/api-reference/asset-rules/asset-asset-rule-suggestion.md
  content/api-reference/asset-rules/asset-asset-rules.md
Owners: @lassato-OSI

Update Markdown from ocs-metadata-rules-20210729.1
  content/api-reference/metadata-rules/metadata-access-control-list.md
  content/api-reference/metadata-rules/metadata-metadata-rule-preview.md
  content/api-reference/metadata-rules/metadata-metadata-rule-suggestion.md
  content/api-reference/metadata-rules/metadata-metadata-rules.md
Owners: @digitaljoshua

Final formatting edits
  content/add-organize-data/organize-data/metadata-rules/metadata-rules-concept.md
  content/add-organize-data/store-data/streams/streams-concept.md
  content/add-organize-data/store-data/types/types-concept.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Updating to add bolded blocks and headers
  content/external-references/storage-account-backup.yaml
Owners: @digitaljoshua

Update Markdown from identity-services.infrastructure-20210729.2
  content/api-reference/identity/identity-authorization-code-clients.md
  content/api-reference/identity/identity-azure-active-directory-tenants.md
  content/api-reference/identity/identity-claim-type-names.md
  content/api-reference/identity/identity-claims.md
  content/api-reference/identity/identity-client-credential-clients-roles.md
  content/api-reference/identity/identity-client-credential-clients.md
  content/api-reference/identity/identity-device-code-clients.md
  content/api-reference/identity/identity-hybrid-clients.md
  content/api-reference/identity/identity-identity-providers.md
  content/api-reference/identity/identity-implicit-clients.md
  content/api-reference/identity/identity-invitations.md
  content/api-reference/identity/identity-secrets.md
  content/api-reference/identity/identity-tenants-roles.md
  content/api-reference/identity/identity-tenants-users.md
  content/api-reference/identity/identity-users-roles.md
Owners: @digitaljoshua

Updating token images
  content/add-organize-data/organize-data/assets/images/first-token.png
  content/add-organize-data/organize-data/assets/images/fourth-token.png
  content/add-organize-data/organize-data/assets/images/second-token.png
  content/add-organize-data/organize-data/assets/images/third-token.png
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Update Markdown from ocs-infrastructure-20210730.1
  content/api-reference/tenant/tenant-features.md
  content/api-reference/tenant/tenant-namespaces.md
  content/api-reference/tenant/tenant-root-access-control.md
  content/api-reference/tenant/tenant-service-blog.md
  content/api-reference/tenant/tenant-tenants.md
Owners: @digitaljoshua

Update Markdown from sds-libraries-20210730.1
  content/api-reference/sequential-data-store/sds-access-control-list.md
  content/api-reference/sequential-data-store/sds-quantities.md
  content/api-reference/sequential-data-store/sds-stream-bulk-data.md
  content/api-reference/sequential-data-store/sds-stream-data-transform.md
  content/api-reference/sequential-data-store/sds-stream-data.md
  content/api-reference/sequential-data-store/sds-stream-views.md
  content/api-reference/sequential-data-store/sds-streams.md
  content/api-reference/sequential-data-store/sds-types.md
  content/api-reference/sequential-data-store/sds-units-of-measure.md
Owners: @digitaljoshua

Update Markdown from sds-libraries-20210730.2
  content/api-reference/sequential-data-store/sds-access-control-list.md
  content/api-reference/sequential-data-store/sds-quantities.md
  content/api-reference/sequential-data-store/sds-stream-bulk-data.md
  content/api-reference/sequential-data-store/sds-stream-data-transform.md
  content/api-reference/sequential-data-store/sds-stream-data.md
  content/api-reference/sequential-data-store/sds-stream-views.md
  content/api-reference/sequential-data-store/sds-streams.md
  content/api-reference/sequential-data-store/sds-types.md
  content/api-reference/sequential-data-store/sds-units-of-measure.md
Owners: @digitaljoshua

added backup-restore-authorization.yaml for Sherlock to get around lack of support for controller files using authorization roles
  content/external-references/backup-restore-authorization.yaml
Owners: @digitaljoshua

Updated images with rule border
  content/add-organize-data/organize-data/assets/images/asset-edit-view.png
  content/add-organize-data/organize-data/assets/images/asset-explorer-tile-view.png
  content/add-organize-data/organize-data/assets/images/configure-asset-page-rule2.png
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Fixed syntax errors in xrefs; corrected reference to image file
  content/overview/get-started/gs-asset-types.md
  content/rom/getting-started-rom.md
Owners: @lassato-OSI, @afloresOSI

Removed HTML code to add color to text and made text bold
  content/add-organize-data/organize-data/assets/second-rule.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI

undo quick start data view updates
  content/api-reference/data-views/define-a-data-view/quick-start-define-a-data-view.md
  content/api-reference/data-views/get-data-view-data/quick-start-get-data-view-data.md
Owners: @osimarkrogers

undo edits
  content/api-reference/data-views/define-a-data-view/quick-start-define-a-data-view.md
  content/api-reference/data-views/get-data-view-data/quick-start-get-data-view-data.md
Owners: @osimarkrogers

undo
  content/visualize-data/toc.yml
Owners: @lassato-OSI, @afloresOSI

undo
  content/visualize-data/images/Cursor_view.png
Owners: @lassato-OSI, @afloresOSI

Update data-views.md
  content/add-organize-data/organize-data/data-views/data-views.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @digitaljoshua
content/api-reference/sequential-data-store  @digitaljoshua
content/api-reference/identity @digitaljoshua
content/api-reference/management @digitaljoshua
content/api-reference/data-views @osimarkrogers
content/api-reference/metadata @osimarkrogers
content/api-reference/operations @osimarkrogers
content/api-reference/data-ingress @osimarkrogers
content/api-reference/assets @lassato-OSI
content/api-reference/asset-rules @lassato-OSI
content/add-organize-data @VictoriaTouati-AVEVA @afloresOSI
content/communities @dwicinas-osisoft
content/visualize-data @lassato-OSI @afloresOSI
content/rom @lassato-OSI @afloresOSI
content/overview @lassato-OSI @afloresOSI
content/set-up @lassato-OSI @digitaljoshua

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# https://github.blog/2017-07-06-introducing-code-owners/
