Repository AVEVA/CONNECT-data-services-developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @digitaljoshua, @osimarkrogers, @lassato-OSI, @VictoriaTouati-AVEVA, @afloresOSI, @dwicinas-osisoft

Update streams-manage.md
  content/add-organize-data/store-data/streams/streams-manage.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI

copy edits for Data View descriptions
  content/external-references/dataviews-summaries.yaml
Owners: @digitaljoshua

Port Canvas
  content/rom/filter-assets-asset-explorer.md
  content/rom/getting-started-rom.md
  content/rom/images/facet-list.png
  content/rom/images/metadata-filter-icon.png
  content/rom/images/metadata-filters.png
  content/rom/share-fleet-view.md
  content/rom/toc.yml
  content/visualize-data/context-switch.md
  content/visualize-data/images/asset-swap.png
  content/visualize-data/images/asset-trend.png
  content/visualize-data/images/swap-asset-dialog.png
  content/visualize-data/images/swap-asset-icon.png
  content/visualize-data/images/testing-one.png
  content/visualize-data/images/testing-two.png
Owners: @lassato-OSI, @afloresOSI

Update toc.yml
  content/visualize-data/toc.yml
Owners: @lassato-OSI, @afloresOSI

Update asset-rules.md
  content/add-organize-data/organize-data/assets/asset-rules.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Update second-rule.md
  content/add-organize-data/organize-data/assets/second-rule.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Update tokens-generate-assets.md
  content/add-organize-data/organize-data/assets/tokens-generate-assets.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Update Markdown from ocs-usage-20210810.1
  content/api-reference/operations/operations-usage.md
Owners: @osimarkrogers

Update Markdown from ocs-data-views-20210810.1
  content/api-reference/data-views/data-views-access-control.md
  content/api-reference/data-views/data-views-data-views-data.md
  content/api-reference/data-views/data-views-data-views-resolved.md
  content/api-reference/data-views/data-views-data-views.md
  content/api-reference/data-views/data-views-preview-data-views-data.md
  content/api-reference/data-views/data-views-preview-data-views-resolved.md
Owners: @osimarkrogers

Update Markdown from ocs-metadata-rules-20210811.1
  content/api-reference/asset-rules/asset-access-control-list.md
  content/api-reference/asset-rules/asset-asset-change-data.md
  content/api-reference/asset-rules/asset-asset-rule-errors.md
  content/api-reference/asset-rules/asset-asset-rule-preview.md
  content/api-reference/asset-rules/asset-asset-rule-suggestion.md
  content/api-reference/asset-rules/asset-asset-rules.md
  content/api-reference/asset-rules/asset-rules-internal/asset-rule-admin.md
Owners: @lassato-OSI

Update Markdown from ocs-metadata-rules-20210811.1
  content/api-reference/metadata-rules/metadata-access-control-list.md
  content/api-reference/metadata-rules/metadata-metadata-rule-preview.md
  content/api-reference/metadata-rules/metadata-metadata-rule-suggestion.md
  content/api-reference/metadata-rules/metadata-metadata-rules.md
  content/api-reference/metadata-rules/metadata-rules-internal/metadata-rule-admin.md
Owners: @digitaljoshua

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @digitaljoshua
content/api-reference/sequential-data-store  @digitaljoshua
content/api-reference/identity @digitaljoshua
content/api-reference/management @digitaljoshua
content/api-reference/data-views @osimarkrogers
content/api-reference/metadata @osimarkrogers
content/api-reference/operations @osimarkrogers
content/api-reference/data-ingress @osimarkrogers
content/api-reference/assets @lassato-OSI
content/api-reference/asset-rules @lassato-OSI
content/add-organize-data @VictoriaTouati-AVEVA @afloresOSI
content/communities @dwicinas-osisoft
content/visualize-data @lassato-OSI @afloresOSI
content/rom @lassato-OSI @afloresOSI
content/overview @lassato-OSI @afloresOSI
content/set-up @lassato-OSI @digitaljoshua

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# https://github.blog/2017-07-06-introducing-code-owners/
