Repository AVEVA/CONNECT-data-services-developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @GiselleLeeOSI, @digitaljoshua, @osimarkrogers, @lassato-OSI

Create what-does-ocs-do.md
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

Update Content_Portal/Overview/what-does-ocs-do.md
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

Updated visualize-data-overview
  Content_Portal/visualize-data/visualize-data-overview.md
Owners: @GiselleLeeOSI

Update what-does-ocs-do.md
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

Update what-does-ocs-do.md
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

Update what-does-ocs-do.md
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

Update what-does-ocs-do.md
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

Change backslashes to forward slashes in path to image files
  Content_Portal/Quickstarts/Trend-UI.md
  Content_Portal/Quickstarts/getting-started-rom.md
Owners: @GiselleLeeOSI

Changed backslashes to forward slashes in path to images files in Getting-Started-Trend.md
  Content_Portal/Quickstarts/Getting-Started-Trend.md
Owners: @GiselleLeeOSI

Cleaning up generic procedures
  Content_Portal/Overview/get-started/gs-getting-started-intro.md
  Content_Portal/add-organize-data/store-data/streams-procedure.md
  Content_Portal/add-organize-data/store-data/types-procedure.md
  Content_Portal/set-up/namespaces-procedure.md
Owners: @GiselleLeeOSI

Create data-views.md
  Content_Portal/Overview/data-views.md
Owners: @GiselleLeeOSI

Create metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Create data-views.md
  Content_Portal/add-organize-data/attach-meaning/data-views/data-views.md
Owners: @GiselleLeeOSI

Build Agent Modified DocFX Site
  Content_Portal/Documentation/Assets/asset-search-api.html
  Content_Portal/Overview/images/how-does-ocs-work/assets-example.png
  Content_Portal/Overview/what-does-ocs-do.html
  index.json
  manifest.json
Owners: @lassato-OSI, @GiselleLeeOSI

Update what-does-ocs-do.md
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

EZ - Review
  .DS_Store
  Content_Portal/.DS_Store
  Content_Portal/ROM/rom-overview.md
  Content_Portal/add-organize-data/.DS_Store
  Content_Portal/add-organize-data/add-org-data-overview.md
  Content_Portal/add-organize-data/attach-meaning/.DS_Store
  Content_Portal/add-organize-data/attach-meaning/data-context-overview.md
  Content_Portal/add-organize-data/collect-data/data-collection-overview.md
  Content_Portal/add-organize-data/store-data/data-storage-overview.md
  Content_Portal/set-up/set-up-overview.md
Owners: @GiselleLeeOSI

Update data-views.md
  Content_Portal/add-organize-data/attach-meaning/data-views/data-views.md
Owners: @GiselleLeeOSI

Update data-views.md
  Content_Portal/add-organize-data/attach-meaning/data-views/data-views.md
Owners: @GiselleLeeOSI

Delete metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Create metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Build Agent Modified DocFX Site
  Content_Portal/Overview/what-does-ocs-do.html
  index.json
  manifest.json
Owners: @GiselleLeeOSI

Minor update to add-org-data-overview and data-collection-overview
  Content_Portal/add-organize-data/add-org-data-overview.md
  Content_Portal/add-organize-data/collect-data/data-collection-overview.md
Owners: @GiselleLeeOSI

Build Agent Modified DocFX Site
  Content_Portal/How_To_Guides/images/choose-stream.png
  Content_Portal/Quickstarts/Trend-UI.html
  Content_Portal/Quickstarts/images/Cursor_view-1.png
  Content_Portal/Quickstarts/images/Cursor_view.png
  Content_Portal/Quickstarts/images/Legend_Table-1.png
  Content_Portal/Quickstarts/images/Legend_Table.png
  Content_Portal/Quickstarts/images/Max_min_cursors-1.png
  Content_Portal/Quickstarts/images/Max_min_cursors.png
  Content_Portal/Quickstarts/images/Search_blade_75-1.png
  Content_Portal/Quickstarts/images/Search_blade_75.png
  Content_Portal/Quickstarts/images/Traces_stacked_view-1.png
  Content_Portal/Quickstarts/images/Traces_stacked_view.png
  Content_Portal/Quickstarts/images/Trend_full_page.png
  index.json
  manifest.json
Owners: @GiselleLeeOSI

Updated Metadatarules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
  Content_Portal/visualize-data/toc.yml
  docfx.json
Owners: @GiselleLeeOSI

Add files via upload
  Content_Portal/add-organize-data/images/expand-pane.png
Owners: @GiselleLeeOSI

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Renaming files to conform to file naming standard
  Content_Portal/visualize-data/getting-started-trend.md
  Content_Portal/visualize-data/trend-ui.md
Owners: @GiselleLeeOSI

Update ocs-content-portal-overview.md
  Content_Portal/ocs-content-portal-overview.md
Owners: @GiselleLeeOSI

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Updating links with warning in the build report in live OCS-docs (#375)
  Content_Portal/Documentation/Assets/assets.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Queries.md
  Content_Portal/Documentation/SequentialDataStore/SDS_Types.md
  Content_Portal/Documentation/SequentialDataStore/Units_of_Measure.md
  Content_Portal/How_To_Guides/Assets/create-asset-from-type.md
  Content_Portal/How_To_Guides/Assets/create-asset-type-asset-editor.md
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @lassato-OSI, @osimarkrogers, @GiselleLeeOSI

Adding files for PR #366
  Content_Portal/ROM/getting-started-rom.md
  Content_Portal/add-organize-data/attach-meaning/assets/images/choose-stream.png
  Content_Portal/add-organize-data/collect-data/connectors/PI-to-OCS/Overview-PI-to-OCS/pi-to-ocs-connection-best-practices.md
  Content_Portal/add-organize-data/collect-data/connectors/PI-to-OCS/Overview-PI-to-OCS/toc.yml
  Content_Portal/visualize-data/getting-started-trend.md
  Content_Portal/visualize-data/images/Cursor_view.png
  Content_Portal/visualize-data/images/Legend_Table.png
  Content_Portal/visualize-data/images/Max_min_cursors.png
  Content_Portal/visualize-data/images/Search_blade_75.png
  Content_Portal/visualize-data/images/Traces_stacked_view.png
  Content_Portal/visualize-data/images/Trend_full_page.png
  Content_Portal/visualize-data/trend-ui.md
Owners: @GiselleLeeOSI

Adding files for PR #367 and #375
  Content_Portal/Documentation/Assets/assets.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Queries.md
  Content_Portal/Documentation/SequentialDataStore/SDS_Types.md
  Content_Portal/Documentation/SequentialDataStore/Units_of_Measure.md
  Content_Portal/Overview/what-does-ocs-do.md
  Content_Portal/add-organize-data/attach-meaning/assets/create-asset-from-type.md
  Content_Portal/add-organize-data/attach-meaning/assets/create-asset-type-asset-editor.md
Owners: @lassato-OSI, @osimarkrogers, @GiselleLeeOSI

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @GiselleLeeOSI
Content_Portal/Documentation/SequentialDataStore @GiselleLeeOSI
Content_Portal/Documentation/Identity @digitaljoshua
Content_Portal/Documentation/Management @digitaljoshua
Content_Portal/Documentation/DataViews @osimarkrogers
Content_Portal/Documentation/Metadata @osimarkrogers
Content_Portal/Documentation/Operations @osimarkrogers
Content_Portal/Documentation/DataIngress @osimarkrogers
Content_Portal/Documentation/Assets @lassato-OSI

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# https://github.blog/2017-07-06-introducing-code-owners/
