Repository AVEVA/CONNECT-data-services-developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @GiselleLeeOSI, @digitaljoshua, @osimarkrogers, @lassato-OSI

Build Agent Modified DocFX Site
  Content_Portal/Documentation/Assets/assets.html
  Content_Portal/Documentation/DataViews/DefineaDataView/Queries.html
  Content_Portal/Documentation/SequentialDataStore/SDS_Types.html
  Content_Portal/Documentation/SequentialDataStore/Units_of_Measure.html
  Content_Portal/How_To_Guides/Assets/create-asset-from-type.html
  Content_Portal/How_To_Guides/Assets/create-asset-type-asset-editor.html
  Content_Portal/Overview/what-does-ocs-do.html
  index.json
  manifest.json
Owners: @lassato-OSI, @osimarkrogers, @GiselleLeeOSI

Updated intro heading "Data analysis"
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

Build Agent Modified DocFX Site
  manifest.json
Owners: @GiselleLeeOSI

Adding missing image file
  Content_Portal/Overview/images/how-does-ocs-work/assets-example.png
Owners: @GiselleLeeOSI

Merge pull request #361 from d-ng/feat-dataviews-ga-release
  Content_Portal/Documentation/DataViews/DataViewsAPIOverview/Preview_Data_API.md
  Content_Portal/Documentation/DataViews/DataViewsAPIOverview/Resolved_Data_View_API.md
  Content_Portal/Documentation/DataViews/DataViewsAPIOverview/Resolved_Data_View_Preview_API.md
  Content_Portal/Documentation/DataViews/Data_Views_Overview.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Available_Field_Sets.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Consolidate_Data_Fields.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Data_Items_and_Groups.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Field_Mappings.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Field_Sets.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Queries.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Quick_Start_Define_a_Data_View.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Rec_Workflow.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Summaries.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Units_of_Measure.md
  Content_Portal/Documentation/DataViews/GetResolvedDataView/Resolved_Data_View.md
  Content_Portal/Documentation/DataViews/Reference/Asset_Example.md
  Content_Portal/Documentation/DataViews/Reference/Data_Views_Examples.md
  Content_Portal/Documentation/DataViews/Reference/Example_Scenario.md
  Content_Portal/Documentation/DataViews/Reference/toc.yml
  Content_Portal/Documentation/DataViews/SecureDataViews/Securing_Data_Views.md
  Content_Portal/Documentation/DataViews/toc.yml
Owners: @osimarkrogers

Merge pull request #365 from osisoft/lasato-ocs-assets-doc
  Content_Portal/Documentation/Assets/asset-search-api.md
Owners: @lassato-OSI

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Add files via upload
  Content_Portal/add-organize-data/images/define-mappings.png
Owners: @GiselleLeeOSI

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Update Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Update Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Update Reading_Data.md (#380)
  Content_Portal/Documentation/SequentialDataStore/Reading_Data.md
Owners: @GiselleLeeOSI

Added clients, users, and roles getting started and concepts topics. Changed QuickStart to MyOCS in namespaces, types, streams, pi to ocs, and omf getting started topics
  Content_Portal/Overview/get-started/gs-clients.md
  Content_Portal/Overview/get-started/gs-namespaces.md
  Content_Portal/Overview/get-started/gs-omf-connection.md
  Content_Portal/Overview/get-started/gs-pi-to-ocs-connection.md
  Content_Portal/Overview/get-started/gs-roles.md
  Content_Portal/Overview/get-started/gs-streams.md
  Content_Portal/Overview/get-started/gs-types.md
  Content_Portal/Overview/get-started/gs-users.md
  Content_Portal/Overview/get-started/toc.yml
  Content_Portal/set-up/clients-concept.md
  Content_Portal/set-up/roles-concept.md
  Content_Portal/set-up/toc.yml
  Content_Portal/set-up/users-concept.md
Owners: @GiselleLeeOSI

Added landing page for Get started and edited toc.yml
  Content_Portal/Overview/get-started-overview.md
  Content_Portal/toc.yml
Owners: @GiselleLeeOSI

Added OMF generic procedure and corrected UIDs in generic procedure files
  Content_Portal/add-organize-data/collect-data/connectors/omf/images/menu-icon.png
  Content_Portal/add-organize-data/collect-data/connectors/omf/omf-connection-procedure.md
  Content_Portal/add-organize-data/collect-data/connectors/omf/toc.yml
  Content_Portal/add-organize-data/store-data/streams-procedure.md
  Content_Portal/add-organize-data/store-data/types-procedure.md
  Content_Portal/set-up/namespaces-procedure.md
Owners: @GiselleLeeOSI

Updating gs-clients.md and updated docfx.json file with path to images folder
  Content_Portal/Overview/get-started/gs-clients.md
  docfx.json
Owners: @GiselleLeeOSI

Build Agent Modified DocFX Site
  Content_Portal/Documentation/SequentialDataStore/Reading_Data.html
  index.json
  manifest.json
Owners: @GiselleLeeOSI

Account to tenant update in role names (#351)
  Content_Portal/Concepts/Account_Management_Concepts.md
  Content_Portal/Concepts/Roles.md
  Content_Portal/Concepts/Tenant_Management_Concepts.md
  Content_Portal/Documentation/DataIngress/OMF_Ingress_Subscriptions.md
  Content_Portal/Documentation/DataIngress/OMF_Ingress_Topics.md
  Content_Portal/Documentation/Identity/Identity_AuthorizationCodeClient.md
  Content_Portal/Documentation/Identity/Identity_AutomationIdentity.md
  Content_Portal/Documentation/Identity/Identity_AzureActiveDirectoryTenant.md
  Content_Portal/Documentation/Identity/Identity_Claim.md
  Content_Portal/Documentation/Identity/Identity_ClaimTypeName.md
  Content_Portal/Documentation/Identity/Identity_ClientCredentialClient.md
  Content_Portal/Documentation/Identity/Identity_HybridClient.md
  Content_Portal/Documentation/Identity/Identity_IdentityProvider.md
  Content_Portal/Documentation/Identity/Identity_ImplicitClient.md
  Content_Portal/Documentation/Identity/Identity_Invitation.md
  Content_Portal/Documentation/Identity/Identity_PersistedGrant.md
  Content_Portal/Documentation/Identity/Identity_Secret.md
  Content_Portal/Documentation/Identity/Identity_User.md
  Content_Portal/Documentation/Management/Account_ClientRole_1.md
  Content_Portal/Documentation/Management/Account_Namespace_1.md
  Content_Portal/Documentation/Management/Account_Role_1.md
  Content_Portal/Documentation/Management/Account_RootAccessControl_1.md
  Content_Portal/Documentation/Management/Account_ServiceBlog.md
  Content_Portal/Documentation/Management/Account_Tenant.md
  Content_Portal/Documentation/Management/Account_TenantFeatureState.md
  Content_Portal/Documentation/Management/Account_UserRole_1.md
  Content_Portal/Documentation/Operations/Operations_Billing Cycles.md
  Content_Portal/Documentation/Operations/Operations_Health.md
  Content_Portal/Documentation/Operations/Operations_Logs.md
  Content_Portal/Documentation/Operations/Operations_Metrics.md
  Content_Portal/Documentation/Operations/Operations_Resource Usage Data.md
  Content_Portal/Documentation/Operations/Operations_Usage Data.md
  Content_Portal/Documentation/SequentialDataStore/SdsStreamExtra.md
  Content_Portal/How_To_Guides/PI-to-OCS/Overview-PI-to-OCS/min-sys-reqmnts.md
  Content_Portal/How_To_Guides/PI-to-OCS/Set-up-PI-to-OCS/access-ocs-portal.md
Owners: @GiselleLeeOSI, @osimarkrogers, @digitaljoshua

Ocs dwicinas uioverview subbranch (#379)
  Content_Portal/Overview/get-started/introduction-portal-interface.md
  Content_Portal/Overview/images/feature-details.png
  Content_Portal/Overview/images/feature-menu.png
  Content_Portal/Overview/images/menu-icon.png
  Content_Portal/Overview/images/notifications-icon.png
  Content_Portal/Overview/images/portal-interface.png
  Content_Portal/Overview/images/user-and-tenant.png
Owners: @GiselleLeeOSI

Added xref links to sections in file
  Content_Portal/Overview/get-started/gs-clients.md
Owners: @GiselleLeeOSI

Cleaned up getting started topics. Fixed broken links. Added missing image files
  Content_Portal/Overview/get-started/gs-clients.md
  Content_Portal/Overview/get-started/gs-getting-started-intro.md
  Content_Portal/Overview/get-started/gs-namespaces.md
  Content_Portal/Overview/get-started/gs-roles.md
  Content_Portal/Overview/get-started/gs-streams.md
  Content_Portal/Overview/get-started/gs-types.md
  Content_Portal/Overview/get-started/gs-users.md
  Content_Portal/Overview/get-started/toc.yml
  Content_Portal/ROM/images/Multiple_mode.png
  Content_Portal/ROM/images/Single_mode.png
  Content_Portal/add-organize-data/attach-meaning/assets/create-an-asset.md
  Content_Portal/add-organize-data/attach-meaning/assets/create-asset-from-type.md
  Content_Portal/add-organize-data/attach-meaning/assets/create-asset-type-asset-editor.md
  Content_Portal/add-organize-data/attach-meaning/assets/images/stream-reference-caret.png
  Content_Portal/add-organize-data/attach-meaning/assets/images/stream-reference-caret2.png
  Content_Portal/add-organize-data/collect-data/connectors/omf/toc.yml
  Content_Portal/add-organize-data/store-data/streams-concept.md
  Content_Portal/add-organize-data/store-data/types-concept.md
  Content_Portal/set-up/roles-concept.md
  Content_Portal/set-up/users-concept.md
  Content_Portal/toc.yml
  toc.yml
Owners: @GiselleLeeOSI

update documentation
  Content_Portal/Documentation/Assets/asset-centric-data-api.md
Owners: @lassato-OSI

update
  Content_Portal/Documentation/Assets/asset-centric-data-api.md
Owners: @lassato-OSI

Update SDS_Views.md
  Content_Portal/Documentation/SequentialDataStore/SDS_Views.md
Owners: @GiselleLeeOSI

Update what-does-ocs-do.md
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

Update what-does-ocs-do.md
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

Updating types best practices file
  Content_Portal/add-organize-data/store-data/types-best-practices.md
Owners: @GiselleLeeOSI

Update what-does-ocs-do.md
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

Minor formatting corrections
  Content_Portal/add-organize-data/store-data/types-best-practices.md
Owners: @GiselleLeeOSI

Added suggestions from Laureen
  Content_Portal/Documentation/Assets/asset-centric-data-api.md
Owners: @lassato-OSI

Build Agent Modified DocFX Site
  Content_Portal/Concepts/Account_Management_Concepts.html
  Content_Portal/Concepts/Roles.html
  Content_Portal/Concepts/Tenant_Management_Concepts.html
  Content_Portal/Documentation/DataIngress/OMF_Ingress_Subscriptions.html
  Content_Portal/Documentation/DataIngress/OMF_Ingress_Topics.html
  Content_Portal/Documentation/Identity/Identity_AuthorizationCodeClient.html
  Content_Portal/Documentation/Identity/Identity_AutomationIdentity.html
  Content_Portal/Documentation/Identity/Identity_AzureActiveDirectoryTenant.html
  Content_Portal/Documentation/Identity/Identity_Claim.html
  Content_Portal/Documentation/Identity/Identity_ClaimTypeName.html
  Content_Portal/Documentation/Identity/Identity_ClientCredentialClient.html
  Content_Portal/Documentation/Identity/Identity_HybridClient.html
  Content_Portal/Documentation/Identity/Identity_IdentityProvider.html
  Content_Portal/Documentation/Identity/Identity_Invitation.html
  Content_Portal/Documentation/Identity/Identity_PersistedGrant.html
  Content_Portal/Documentation/Identity/Identity_Secret.html
  Content_Portal/Documentation/Identity/Identity_User.html
  Content_Portal/Documentation/Management/Account_ClientRole_1.html
  Content_Portal/Documentation/Management/Account_Namespace_1.html
  Content_Portal/Documentation/Management/Account_Role_1.html
  Content_Portal/Documentation/Management/Account_RootAccessControl_1.html
  Content_Portal/Documentation/Management/Account_ServiceBlog.html
  Content_Portal/Documentation/Management/Account_Tenant.html
  Content_Portal/Documentation/Management/Account_TenantFeatureState.html
  Content_Portal/Documentation/Management/Account_UserRole_1.html
  Content_Portal/Documentation/Operations/Operations_Billing Cycles.html
  Content_Portal/Documentation/Operations/Operations_Health.html
  Content_Portal/Documentation/Operations/Operations_Logs.html
  Content_Portal/Documentation/Operations/Operations_Metrics.html
  Content_Portal/Documentation/Operations/Operations_Resource Usage Data.html
  Content_Portal/Documentation/Operations/Operations_Usage Data.html
  Content_Portal/Documentation/SequentialDataStore/SDS_Views.html
  Content_Portal/Documentation/SequentialDataStore/SdsStreamExtra.html
  Content_Portal/How_To_Guides/PI-to-OCS/Overview-PI-to-OCS/min-sys-reqmnts.html
  Content_Portal/How_To_Guides/PI-to-OCS/Set-up-PI-to-OCS/access-ocs-portal.html
  index.json
  manifest.json
Owners: @GiselleLeeOSI, @osimarkrogers, @digitaljoshua

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Added xrefs to concepts and best practices content. Added related link to API d10n
  Content_Portal/add-organize-data/store-data/streams-procedure.md
  Content_Portal/add-organize-data/store-data/types-procedure.md
  Content_Portal/set-up/namespaces-procedure.md
Owners: @GiselleLeeOSI

Updated omf-overview
  Content_Portal/add-organize-data/collect-data/connectors/omf/omf-overview.md
Owners: @GiselleLeeOSI

Cleaned up topic titles
  Content_Portal/Overview/get-started/gs-roles.md
  Content_Portal/Overview/get-started/gs-users.md
Owners: @GiselleLeeOSI

See PBI 203416 for the files that were checked. Changed account to tenant
  Content_Portal/Overview/get-started/gs-clients.md
  Content_Portal/Overview/get-started/gs-getting-started-intro.md
  Content_Portal/Overview/get-started/gs-roles.md
  Content_Portal/Overview/get-started/gs-streams.md
  Content_Portal/Overview/get-started/gs-types.md
  Content_Portal/Overview/get-started/gs-users.md
  Content_Portal/ocs-content-portal-overview.md
  Content_Portal/set-up/clients-concept.md
  Content_Portal/set-up/namespaces-best-practices.md
  Content_Portal/set-up/namespaces-concept.md
  Content_Portal/set-up/roles-concept.md
  Content_Portal/set-up/users-concept.md
Owners: @GiselleLeeOSI

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @GiselleLeeOSI
Content_Portal/Documentation/SequentialDataStore @GiselleLeeOSI
Content_Portal/Documentation/Identity @digitaljoshua
Content_Portal/Documentation/Management @digitaljoshua
Content_Portal/Documentation/DataViews @osimarkrogers
Content_Portal/Documentation/Metadata @osimarkrogers
Content_Portal/Documentation/Operations @osimarkrogers
Content_Portal/Documentation/DataIngress @osimarkrogers
Content_Portal/Documentation/Assets @lassato-OSI

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# https://github.blog/2017-07-06-introducing-code-owners/
