Repository AVEVA/CONNECT-data-services-developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @GiselleLeeOSI, @digitaljoshua, @osimarkrogers, @lassato-OSI

Adding a stub landing page file
  Content_Portal/set-up/set-up-overview.md
Owners: @GiselleLeeOSI

Corrected path to image files
  Content_Portal/add-organize-data/attach-meaning/assets/create-an-asset.md
  Content_Portal/add-organize-data/attach-meaning/assets/create-asset-from-type.md
  Content_Portal/add-organize-data/attach-meaning/assets/create-asset-type-asset-editor.md
Owners: @GiselleLeeOSI

Added best practices to PI to OCS section andupdated toc.yml file
  Content_Portal/How_To_Guides/PI-to-OCS/Overview-PI-to-OCS/pi-to-ocs-connection-best-practices.md
  Content_Portal/How_To_Guides/PI-to-OCS/Overview-PI-to-OCS/toc.yml
Owners: @GiselleLeeOSI

change define a data view section except grouping
  Content_Portal/Documentation/DataViews/DefineaDataView/Consolidate_Data_Fields.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Field_Mappings.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Summaries.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Units_of_Measure.md
Owners: @osimarkrogers

fix API examples
  Content_Portal/Documentation/DataViews/DataViewsAPIOverview/Preview_Data_API.md
  Content_Portal/Documentation/DataViews/DataViewsAPIOverview/Resolved_Data_View_API.md
  Content_Portal/Documentation/DataViews/DataViewsAPIOverview/Resolved_Data_View_Preview_API.md
  Content_Portal/Documentation/DataViews/GetResolvedDataView/Resolved_Data_View.md
Owners: @osimarkrogers

fix API and example
  Content_Portal/Documentation/DataViews/DataViewsAPIOverview/Resolved_Data_View_Preview_API.md
  Content_Portal/Documentation/DataViews/Reference/Asset_Example.md
Owners: @osimarkrogers

final heading and capitalization
  Content_Portal/Documentation/DataViews/DefineaDataView/Data_Items_and_Groups.md
  Content_Portal/Documentation/DataViews/SecureDataViews/Securing_Data_Views.md
Owners: @osimarkrogers

fix formatting
  Content_Portal/Documentation/DataViews/DefineaDataView/Units_of_Measure.md
Owners: @osimarkrogers

Update Field_Sets.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Field_Sets.md
Owners: @osimarkrogers

Terminology updates 3/3/21 sprint (#358)
  Content_Portal/Documentation/DataIngress/OMF_Ingress_Specification.md
  Content_Portal/Documentation/SequentialDataStore/Quick_Start.md
  Content_Portal/Documentation/SequentialDataStore/indexes.md
Owners: @osimarkrogers, @GiselleLeeOSI

address code review comments
  Content_Portal/Documentation/DataViews/Data_Views_Overview.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Field_Sets.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Queries.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Quick_Start_Define_a_Data_View.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Rec_Workflow.md
  Content_Portal/Documentation/DataViews/DefineaDataView/Summaries.md
  Content_Portal/Documentation/DataViews/SecureDataViews/Securing_Data_Views.md
Owners: @osimarkrogers

Removing SdsType and SdsTypeProperty (#362)
  Content_Portal/Documentation/SequentialDataStore/Filter_Expressions.md
  Content_Portal/Documentation/SequentialDataStore/SDS_Types.md
  Content_Portal/Documentation/SequentialDataStore/Units_of_Measure.md
  Content_Portal/Documentation/SequentialDataStore/indexes.md
Owners: @GiselleLeeOSI

Build Agent Modified DocFX Site
  Content_Portal/Documentation/DataIngress/OMF_Ingress_Specification.html
  Content_Portal/Documentation/DataViews/DefineaDataView/Field_Sets.html
  Content_Portal/Documentation/SequentialDataStore/Filter_Expressions.html
  Content_Portal/Documentation/SequentialDataStore/Quick_Start.html
  Content_Portal/Documentation/SequentialDataStore/SDS_Types.html
  Content_Portal/Documentation/SequentialDataStore/Units_of_Measure.html
  Content_Portal/Documentation/SequentialDataStore/indexes.html
  index.json
  manifest.json
Owners: @osimarkrogers, @GiselleLeeOSI

Corrected file name
  Content_Portal/How_To_Guides/PI-to-OCS/Overview-PI-to-OCS/toc.yml
Owners: @GiselleLeeOSI

Added test content.
  Content_Portal/add-organize-data/add-org-data-overview.md
Owners: @GiselleLeeOSI

Build Agent Modified DocFX Site
  Content_Portal/How_To_Guides/PI-to-OCS/Overview-PI-to-OCS/pi-to-ocs-connection-best-practices.html
  Content_Portal/toc.html
  index.json
  manifest.json
  xrefmap.yml
Owners: @GiselleLeeOSI

Glossary concepts work continuation (#354)
  Content_Portal/Documentation/Operations/Operations_Metrics.md
  Content_Portal/Documentation/SequentialDataStore/SdsStreamExtra.md
  Content_Portal/Documentation/SequentialDataStore/Searching.md
  Content_Portal/Documentation/SequentialDataStore/Units_of_Measure.md
Owners: @osimarkrogers, @GiselleLeeOSI

Updating the streams topic to architecture standard (#355)
  Content_Portal/Documentation/SequentialDataStore/SDS_Streams.md
Owners: @GiselleLeeOSI

Testing tabs for different languages in indexes, read/write data API and types topics (#357)
  Content_Portal/Documentation/SequentialDataStore/Reading_Data_API.md
  Content_Portal/Documentation/SequentialDataStore/SDS_Types.md
  Content_Portal/Documentation/SequentialDataStore/Writing_Data_API.md
  Content_Portal/Documentation/SequentialDataStore/indexes.md
Owners: @GiselleLeeOSI

Terminology updates 3/3/21 sprint (#358)
  Content_Portal/Documentation/DataIngress/OMF_Ingress_Specification.md
  Content_Portal/Documentation/SequentialDataStore/Quick_Start.md
  Content_Portal/Documentation/SequentialDataStore/indexes.md
Owners: @osimarkrogers, @GiselleLeeOSI

Removing SdsType and SdsTypeProperty (#362)
  Content_Portal/Documentation/SequentialDataStore/Filter_Expressions.md
  Content_Portal/Documentation/SequentialDataStore/SDS_Types.md
  Content_Portal/Documentation/SequentialDataStore/Units_of_Measure.md
  Content_Portal/Documentation/SequentialDataStore/indexes.md
Owners: @GiselleLeeOSI

Special characters in search strings
  Content_Portal/Documentation/Assets/asset-search-api.md
Owners: @lassato-OSI

Update toc.yml
  Content_Portal/Documentation/Operations/toc.yml
Owners: @osimarkrogers

Updated screen captures in trend topics to show heat maps and corrected choose-stream.png screen capture
  Content_Portal/How_To_Guides/images/choose-stream.png
  Content_Portal/Quickstarts/Trend-UI.md
  Content_Portal/Quickstarts/images/Cursor_view-1.png
  Content_Portal/Quickstarts/images/Cursor_view.png
  Content_Portal/Quickstarts/images/Legend_Table-1.png
  Content_Portal/Quickstarts/images/Legend_Table.png
  Content_Portal/Quickstarts/images/Max_min_cursors-1.png
  Content_Portal/Quickstarts/images/Max_min_cursors.png
  Content_Portal/Quickstarts/images/Search_blade_75-1.png
  Content_Portal/Quickstarts/images/Search_blade_75.png
  Content_Portal/Quickstarts/images/Traces_stacked_view-1.png
  Content_Portal/Quickstarts/images/Traces_stacked_view.png
  Content_Portal/Quickstarts/images/Trend_full_page.png
Owners: @GiselleLeeOSI

Test to see if I am able to run the lasto-toc-setup-subbranch pipeline
  Content_Portal/add-organize-data/add-org-data-overview.md
Owners: @GiselleLeeOSI

Made corrections per Dhruv's comments.
  Content_Portal/Documentation/Assets/asset-search-api.md
Owners: @lassato-OSI

Build Agent Modified DocFX Site
  Content_Portal/toc.html
  manifest.json
Owners: @GiselleLeeOSI

Build Agent Modified DocFX Site
  Content_Portal/Documentation/DataViews/DataViewsAPIOverview/Preview_Data_API.html
  Content_Portal/Documentation/DataViews/DataViewsAPIOverview/Resolved_Data_View_API.html
  Content_Portal/Documentation/DataViews/DataViewsAPIOverview/Resolved_Data_View_Preview_API.html
  Content_Portal/Documentation/DataViews/Data_Views_Overview.html
  Content_Portal/Documentation/DataViews/DefineaDataView/Available_Field_Sets.html
  Content_Portal/Documentation/DataViews/DefineaDataView/Data_Items_and_Groups.html
  Content_Portal/Documentation/DataViews/DefineaDataView/Field_Mappings.html
  Content_Portal/Documentation/DataViews/DefineaDataView/Field_Sets.html
  Content_Portal/Documentation/DataViews/DefineaDataView/Queries.html
  Content_Portal/Documentation/DataViews/DefineaDataView/Quick_Start_Define_a_Data_View.html
  Content_Portal/Documentation/DataViews/DefineaDataView/Rec_Workflow.html
  Content_Portal/Documentation/DataViews/DefineaDataView/Summaries.html
  Content_Portal/Documentation/DataViews/DefineaDataView/Units_of_Measure.html
  Content_Portal/Documentation/DataViews/GetResolvedDataView/Resolved_Data_View.html
  Content_Portal/Documentation/DataViews/Reference/Asset_Example.html
  Content_Portal/Documentation/DataViews/Reference/Data_Views_Examples.html
  Content_Portal/Documentation/DataViews/Reference/Example_Scenario.html
  Content_Portal/Documentation/DataViews/SecureDataViews/Securing_Data_Views.html
  Content_Portal/toc.html
  index.json
  manifest.json
  xrefmap.yml
Owners: @osimarkrogers, @GiselleLeeOSI

Added image file for assets
  Content_Portal/Overview/images/assets-example.png
Owners: @GiselleLeeOSI

Added image file for assets
  Content_Portal/Overview/images/how-does-ocs-work/assets-example.png
Owners: @GiselleLeeOSI

Delete assets-example.png from images folder
  Content_Portal/Overview/images/assets-example.png
Owners: @GiselleLeeOSI

Added navigational links to next topic, added Procedure heading, added links to related topics
  Content_Portal/Overview/get-started/gs-getting-started-intro.md
  Content_Portal/Overview/get-started/gs-namespaces.md
  Content_Portal/Overview/get-started/gs-omf-connection.md
  Content_Portal/Overview/get-started/gs-pi-to-ocs-connection.md
  Content_Portal/Overview/get-started/gs-streams.md
  Content_Portal/Overview/get-started/gs-types.md
Owners: @GiselleLeeOSI

First draft of landing pages
  Content_Portal/ROM/rom-overview.md
  Content_Portal/add-organize-data/add-org-data-overview.md
  Content_Portal/add-organize-data/attach-meaning/data-context-overview.md
  Content_Portal/add-organize-data/collect-data/data-collection-overview.md
  Content_Portal/add-organize-data/store-data/data-storage-overview.md
  Content_Portal/set-up/set-up-overview.md
  Content_Portal/visualize-data/visualize-data-overview.md
Owners: @GiselleLeeOSI

Added Assets content to What Does OCS Do
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

Updated Data storage overview
  Content_Portal/add-organize-data/store-data/data-storage-overview.md
Owners: @GiselleLeeOSI

Removed overview from titles
  Content_Portal/ROM/rom-overview.md
  Content_Portal/add-organize-data/add-org-data-overview.md
  Content_Portal/add-organize-data/attach-meaning/data-context-overview.md
  Content_Portal/add-organize-data/store-data/data-storage-overview.md
  Content_Portal/add-organize-data/store-data/store-data-overview.md
  Content_Portal/set-up/set-up-overview.md
  Content_Portal/visualize-data/visualize-data-overview.md
Owners: @GiselleLeeOSI

Update Content_Portal/Overview/what-does-ocs-do.md
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

Update Content_Portal/Overview/what-does-ocs-do.md
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

Update Content_Portal/Overview/what-does-ocs-do.md
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

Update Content_Portal/Overview/what-does-ocs-do.md
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @GiselleLeeOSI
Content_Portal/Documentation/SequentialDataStore @GiselleLeeOSI
Content_Portal/Documentation/Identity @digitaljoshua
Content_Portal/Documentation/Management @digitaljoshua
Content_Portal/Documentation/DataViews @osimarkrogers
Content_Portal/Documentation/Metadata @osimarkrogers
Content_Portal/Documentation/Operations @osimarkrogers
Content_Portal/Documentation/DataIngress @osimarkrogers
Content_Portal/Documentation/Assets @lassato-OSI

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# https://github.blog/2017-07-06-introducing-code-owners/
