Repository AVEVA/CONNECT-data-services-developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @osisoft-mbishop, @afloresOSI, @rmuolic, @OSIVictoriaTouati-AVEVA

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @osisoft-mbishop
content/api-reference/sequential-data-store @afloresOSI @osisoft-mbishop
content/api-reference/identity @afloresOSI @osisoft-mbishop
content/api-reference/management @afloresOSI @osisoft-mbishop
content/api-reference/data-views @rmuolic @osisoft-mbishop
content/api-reference/metadata @afloresOSI @osisoft-mbishop
content/api-reference/operations @afloresOSI @osisoft-mbishop
content/api-reference/data-ingress @afloresOSI @osisoft-mbishop
content/api-reference/assets @afloresOSI @osisoft-mbishop
content/api-reference/asset-rules @afloresOSI @osisoft-mbishop
content/add-organize-data @afloresOSI @OSIVictoriaTouati-AVEVA
content/communities @afloresOSI @osisoft-mbishop 
content/developer-guide @afloresOSI @osisoft-mbishop
content/visualize-data @afloresOSI @rmuolic
content/visualize-data/power-bi-connector @rmuolic
content/rom @afloresOSI @OSIVictoriaTouati-AVEVA
content/overview @afloresOSI @OSIVictoriaTouati-AVEVA
content/set-up @afloresOSI @OSIVictoriaTouati-AVEVA

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# https://github.blog/2017-07-06-introducing-code-owners/

Updated from ocs-metadata-rules-20211015.1
  content/api-reference/rules/asset-rules/asset-access-control-list.md
Owners: @osisoft-mbishop

Fix TOC
  content/add-organize-data/organize-data/assets/asset-rules-concept.md
  content/add-organize-data/organize-data/toc.yml
Owners: @afloresOSI, @OSIVictoriaTouati-AVEVA

Asset rule TOC fix
  content/add-organize-data/organize-data/assets/asset-rules-concept.md
  content/add-organize-data/organize-data/assets/toc.yml
  content/add-organize-data/organize-data/toc.yml
Owners: @afloresOSI, @OSIVictoriaTouati-AVEVA

Update asset-rules-concept.md
  content/add-organize-data/organize-data/assets/asset-rules-concept.md
Owners: @afloresOSI, @OSIVictoriaTouati-AVEVA

Pbi 251590 ocsrefs updates (#711)
  content/add-organize-data/add-org-data-overview.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/set-up-pi-to-ocs/install-agent.md
  content/add-organize-data/organize-data/assets/asset-concept.md
  content/add-organize-data/organize-data/assets/asset_rules.md
  content/add-organize-data/organize-data/metadata-rules/metadata-rules-concept.md
  content/add-organize-data/organize-data/stream-views/stream-views-concept.md
  content/developer-guide/identity-dev/dev-guide-identity-access-management.md
  content/developer-guide/identity-dev/dev-guide-preconfigured-roles.md
  content/developer-guide/identity-dev/dev-guide-token-management.md
  content/developer-guide/tenant-dev/dev-guide-consent.md
  content/overview/get-started/gs-clients.md
  content/overview/get-started/gs-metadata-rules.md
  content/overview/get-started/gs-users.md
  content/overview/get-started/introduction-portal-interface.md
  content/overview/what-does-ocs-do.md
  content/set-up/clients/clients-concept.md
  content/set-up/namespaces/namespaces-best-practices.md
  content/set-up/namespaces/namespaces-concept.md
  content/set-up/roles/roles-concept.md
  content/set-up/roles/roles-procedure.md
Owners: @afloresOSI, @OSIVictoriaTouati-AVEVA, @osisoft-mbishop

Development (#712)
  content/add-organize-data/add-org-data-overview.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/set-up-pi-to-ocs/install-agent.md
  content/add-organize-data/organize-data/assets/asset-concept.md
  content/add-organize-data/organize-data/assets/asset-rules-concept.md
  content/add-organize-data/organize-data/assets/toc.yml
  content/add-organize-data/organize-data/metadata-rules/metadata-rules-concept.md
  content/add-organize-data/organize-data/stream-views/stream-views-concept.md
  content/add-organize-data/organize-data/toc.yml
  content/developer-guide/identity-dev/dev-guide-identity-access-management.md
  content/developer-guide/identity-dev/dev-guide-preconfigured-roles.md
  content/developer-guide/identity-dev/dev-guide-token-management.md
  content/developer-guide/tenant-dev/dev-guide-consent.md
  content/overview/get-started/gs-clients.md
  content/overview/get-started/gs-metadata-rules.md
  content/overview/get-started/gs-users.md
  content/overview/get-started/introduction-portal-interface.md
  content/overview/what-does-ocs-do.md
  content/set-up/clients/clients-concept.md
  content/set-up/namespaces/namespaces-best-practices.md
  content/set-up/namespaces/namespaces-concept.md
  content/set-up/roles/roles-concept.md
  content/set-up/roles/roles-procedure.md
Owners: @afloresOSI, @OSIVictoriaTouati-AVEVA, @osisoft-mbishop
