Repository AVEVA/CONNECT-data-services-developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @digitaljoshua, @osimarkrogers, @lassato-OSI, @VictoriaTouati-AVEVA, @afloresOSI, @dwicinas-osisoft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @digitaljoshua
content/api-reference/sequential-data-store  @digitaljoshua
content/api-reference/identity @digitaljoshua
content/api-reference/management @digitaljoshua
content/api-reference/data-views @osimarkrogers
content/api-reference/metadata @osimarkrogers
content/api-reference/operations @osimarkrogers
content/api-reference/data-ingress @osimarkrogers
content/api-reference/assets @lassato-OSI
content/api-reference/asset-rules @lassato-OSI
content/add-organize-data @VictoriaTouati-AVEVA @afloresOSI
content/communities @dwicinas-osisoft
content/visualize-data @lassato-OSI @afloresOSI
content/rom @lassato-OSI @afloresOSI
content/overview @lassato-OSI @afloresOSI
content/set-up @lassato-OSI @digitaljoshua

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# https://github.blog/2017-07-06-introducing-code-owners/

Markdown syntax updates
  content/overview/what-does-ocs-do.md
  content/overview/what-is-ocs.md
  content/rom/getting-started-rom.md
  content/rom/share-fleet-view.md
  content/set-up/clients/authorization-code-client-procedure.md
  content/set-up/clients/client-credentials-client-procedure.md
  content/set-up/clients/clients-concept.md
  content/set-up/clients/hybrid-client-procedure.md
  content/set-up/namespaces/namespaces-best-practices.md
  content/set-up/namespaces/namespaces-concept.md
  content/set-up/namespaces/namespaces-procedure.md
  content/set-up/roles/roles-concept.md
  content/set-up/roles/roles-procedure.md
  content/set-up/set-up-overview.md
  content/set-up/users/users-concept.md
  content/set-up/users/users-procedure.md
  content/visualize-data/getting-started-trend.md
  content/visualize-data/trend-ui.md
  content/visualize-data/visualize-data-overview.md
Owners: @lassato-OSI, @afloresOSI, @digitaljoshua

Update toc.yml
  content/visualize-data/toc.yml
Owners: @lassato-OSI, @afloresOSI

Delete power-bi-connector.md
  content/visualize-data/power-bi-connector.md
Owners: @lassato-OSI, @afloresOSI

removed images, currently in PR 532
  content/visualize-data/images/Cursor_view.png
  content/visualize-data/images/click-data-view-box.png
Owners: @lassato-OSI, @afloresOSI

image already present in PR 532
  content/visualize-data/images/get-data.png
Owners: @lassato-OSI, @afloresOSI

Update Markdown from sds-libraries-20210722.1
  content/api-reference/sequential-data-store/sds-access-control-list.md
  content/api-reference/sequential-data-store/sds-stream-views.md
  content/api-reference/sequential-data-store/sds-streams.md
  content/api-reference/sequential-data-store/sds-types.md
Owners: @digitaljoshua

Update Markdown from identity-services.infrastructure-20210722.2
  content/api-reference/identity/identity-identity-providers.md
  content/api-reference/identity/identity-tenants-users.md
Owners: @digitaljoshua

Update Markdown from ocs-infrastructure-20210722.3
  content/api-reference/tenant/tenant-namespaces.md
  content/api-reference/tenant/tenant-root-access-control.md
  content/api-reference/tenant/tenant-tenants.md
Owners: @digitaljoshua

Markdown syntax
  content/overview/get-started/gs-asset-types.md
  content/overview/get-started/gs-assets.md
  content/overview/get-started/gs-clients.md
  content/overview/get-started/gs-connections.md
  content/overview/get-started/gs-getting-started-intro.md
  content/overview/get-started/gs-metadata-rules.md
  content/overview/get-started/gs-namespaces.md
  content/overview/get-started/gs-roles.md
  content/overview/get-started/gs-stream-views.md
  content/overview/get-started/gs-streams.md
  content/overview/get-started/gs-types.md
Owners: @lassato-OSI, @afloresOSI

Markdown syntax
  content/overview/get-started/clients/gs-client-authorization-clients.md
  content/overview/get-started/clients/gs-client-credentials-clients.md
  content/overview/get-started/clients/gs-hybrid-clients.md
  content/overview/get-started/connections/gs-omf-connection.md
  content/overview/get-started/gs-users.md
  content/overview/get-started/introduction-portal-interface.md
Owners: @lassato-OSI, @afloresOSI

spelling error
  content/overview/what-does-ocs-do.md
Owners: @lassato-OSI, @afloresOSI

Revert "Merge pull request #595 from osisoft/DocuPipe-TenantMgmt"
  content/api-reference/tenant/tenant-features.md
  content/api-reference/tenant/tenant-namespace.md
  content/api-reference/tenant/tenant-namespaces.md
  content/api-reference/tenant/tenant-root-access-control.md
  content/api-reference/tenant/tenant-service-blog.md
  content/api-reference/tenant/tenant-tenants.md
Owners: @digitaljoshua

Revert "Update Markdown from ocs-infrastructure-20210712.2"
  content/api-reference/tenant/tenant-namespaces.md
Owners: @digitaljoshua

Revert "Update Markdown from ocs-infrastructure-20210712.1"
  content/api-reference/tenant/tenant-features.md
  content/api-reference/tenant/tenant-namespace.md
  content/api-reference/tenant/tenant-root-access-control.md
  content/api-reference/tenant/tenant-service-blog.md
  content/api-reference/tenant/tenant-tenants.md
Owners: @digitaljoshua

Update Markdown from ocs-health-20210722.2
  content/api-reference/operations/operations-health.md
Owners: @osimarkrogers

Update Markdown from ocs-monitoring-20210722.2
  content/api-reference/operations/operations-logs.md
Owners: @osimarkrogers

Update Markdown from ocs-metadata-rules-20210723.1
  content/api-reference/asset-rules/asset-access-control-list.md
  content/api-reference/asset-rules/asset-asset-change-data.md
  content/api-reference/asset-rules/asset-asset-rule-admin.md
  content/api-reference/asset-rules/asset-asset-rule-errors.md
  content/api-reference/asset-rules/asset-asset-rule-preview.md
  content/api-reference/asset-rules/asset-asset-rule-suggestion.md
  content/api-reference/asset-rules/asset-asset-rules.md
Owners: @lassato-OSI

Update Markdown from ocs-metadata-rules-20210723.1
  content/api-reference/metadata-rules/metadata-access-control-list.md
  content/api-reference/metadata-rules/metadata-metadata-rule-admin.md
  content/api-reference/metadata-rules/metadata-metadata-rule-preview.md
  content/api-reference/metadata-rules/metadata-metadata-rule-suggestion.md
  content/api-reference/metadata-rules/metadata-metadata-rules.md
Owners: @digitaljoshua

Update Markdown from sds-libraries-20210723.2
  content/api-reference/sequential-data-store/sds-access-control-list.md
  content/api-reference/sequential-data-store/sds-quantities.md
  content/api-reference/sequential-data-store/sds-stream-bulk-data.md
  content/api-reference/sequential-data-store/sds-stream-data-transform.md
  content/api-reference/sequential-data-store/sds-stream-data.md
  content/api-reference/sequential-data-store/sds-stream-views.md
  content/api-reference/sequential-data-store/sds-streams.md
  content/api-reference/sequential-data-store/sds-types.md
  content/api-reference/sequential-data-store/sds-units-of-measure.md
Owners: @digitaljoshua

Create sds-uom.md
  content/developer-guide/sequential-data-store-dev/sds-uom.md
Owners: @digitaljoshua

#ifMatch parameter added to sds.yaml
  content/external-references/sds.yaml
Owners: @digitaljoshua

CE edits
  content/add-organize-data/add-org-data-overview.md
  content/add-organize-data/collect-data/connectors/omf/omf-connection-procedure.md
  content/add-organize-data/collect-data/connectors/omf/omf-overview.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/main-landing-page.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/overview-pi-to-ocs/landing-page1.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/overview-pi-to-ocs/limitations.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/overview-pi-to-ocs/pi-to-ocs-best-practices.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/overview-pi-to-ocs/pi-to-ocs-overview.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-agent/filter-remove-agents.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-agent/landing-page4.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-agent/remove-agent-portal.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-agent/view-pi-to-ocs-agent-metrics.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-data-transfers/export-transfer-details.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-data-transfers/landing-page3.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-data-transfers/transfer-data-to-ocs.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-log-messages/landing-page5.md
  content/add-organize-data/organize-data/assets/asset-concept.md
  content/add-organize-data/organize-data/assets/convert-asset-to-asset-type.md
  content/add-organize-data/organize-data/assets/create-an-asset.md
  content/add-organize-data/organize-data/assets/create-asset-from-type.md
  content/add-organize-data/organize-data/data-context-overview.md
  content/add-organize-data/organize-data/data-views/data-views.md
  content/add-organize-data/organize-data/metadata-rules/metadata-rules-concept.md
  content/add-organize-data/organize-data/metadata-rules/metadata-rules-procedure.md
  content/add-organize-data/organize-data/stream-views/configure-stream-views.md
  content/add-organize-data/store-data/store-data-overview.md
  content/add-organize-data/store-data/streams/streams-best-practices.md
  content/add-organize-data/store-data/streams/streams-concept.md
  content/add-organize-data/store-data/streams/streams-procedure.md
  content/add-organize-data/store-data/types/types-best-practices.md
  content/add-organize-data/store-data/types/types-concept.md
  content/add-organize-data/store-data/types/types-procedure.md
  content/communities/communities.md
  content/communities/community-roles.md
  content/communities/create-a-community.md
  content/communities/delete-a-community.md
  content/communities/manage-a-community.md
  content/communities/share-unshare-streams.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI, @dwicinas-osisoft

Update Markdown from sds-libraries-20210723.3
  content/api-reference/sequential-data-store/sds-access-control-list.md
  content/api-reference/sequential-data-store/sds-quantities.md
  content/api-reference/sequential-data-store/sds-stream-bulk-data.md
  content/api-reference/sequential-data-store/sds-stream-data-transform.md
  content/api-reference/sequential-data-store/sds-stream-data.md
  content/api-reference/sequential-data-store/sds-stream-views.md
  content/api-reference/sequential-data-store/sds-streams.md
  content/api-reference/sequential-data-store/sds-types.md
  content/api-reference/sequential-data-store/sds-units-of-measure.md
Owners: @digitaljoshua

Update Markdown from ocs-monitoring-20210723.1
  content/api-reference/operations/operations-logs.md
Owners: @osimarkrogers

Update Markdown from sds-libraries-20210723.4
  content/api-reference/sequential-data-store/sds-access-control-list.md
  content/api-reference/sequential-data-store/sds-stream-bulk-data.md
Owners: @digitaljoshua

Update Markdown from ocs-infrastructure-20210724.1
  content/api-reference/tenant/tenant-namespaces.md
Owners: @digitaljoshua

Update Markdown from ocs-assets-20210725.2
  content/api-reference/assets/assets-access-control-list.md
  content/api-reference/assets/assets-asset-status-data.md
  content/api-reference/assets/assets-asset-types.md
  content/api-reference/assets/assets-assets.md
  content/api-reference/assets/assets-request-manager.md
  content/api-reference/assets/assets-resolved-asset.md
Owners: @lassato-OSI

Dwicinas access control list enums (#605)
  content/developer-guide/identity-dev/dev-guide-role-based-access-control.md
Owners: @digitaljoshua

Pushing up the added file
  content/api-reference/tenant/tenant-namespaces.md
Owners: @digitaljoshua

Revert "Merging DocuPipe-TenantMgmt to Development"
  content/api-reference/tenant/tenant-root-access-control.md
  content/api-reference/tenant/tenant-tenants.md
Owners: @digitaljoshua

Update Markdown from ocs-infrastructure-20210726.1
  content/api-reference/tenant/tenant-features.md
  content/api-reference/tenant/tenant-namespaces.md
  content/api-reference/tenant/tenant-root-access-control.md
  content/api-reference/tenant/tenant-service-blog.md
  content/api-reference/tenant/tenant-tenants.md
Owners: @digitaljoshua

updating the TOC.yml
  content/api-reference/tenant/toc.yml
Owners: @digitaljoshua

Update Markdown from ocs-metadata-rules-20210726.3
  content/api-reference/asset-rules/asset-access-control-list.md
  content/api-reference/asset-rules/asset-asset-rules.md
Owners: @lassato-OSI

Update Markdown from ocs-metadata-rules-20210726.3
  content/api-reference/metadata-rules/metadata-access-control-list.md
  content/api-reference/metadata-rules/metadata-metadata-rules.md
Owners: @digitaljoshua

Update Markdown from ocs-metadata-rules-20210726.4
  content/api-reference/asset-rules/asset-asset-rule-suggestion.md
Owners: @lassato-OSI

Update Markdown from sds-libraries-20210726.1
  content/api-reference/sequential-data-store/sds-access-control-list.md
  content/api-reference/sequential-data-store/sds-stream-bulk-data.md
  content/api-reference/sequential-data-store/sds-stream-data-transform.md
  content/api-reference/sequential-data-store/sds-stream-data.md
  content/api-reference/sequential-data-store/sds-streams.md
Owners: @digitaljoshua

Changes to asset rules
  content/add-organize-data/organize-data/assets/create-asset-rule.md
  content/add-organize-data/organize-data/assets/images/asset-edit-view.png
  content/add-organize-data/organize-data/assets/images/asset-explorer-tile-view.png
  content/add-organize-data/organize-data/assets/images/second-rule-token-2.png
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Update Markdown from sds-libraries-20210726.2
  content/api-reference/sequential-data-store/sds-stream-bulk-data.md
  content/api-reference/sequential-data-store/sds-stream-data-transform.md
  content/api-reference/sequential-data-store/sds-stream-data.md
Owners: @digitaljoshua

Removed lines and added to #stream-data-transform
  content/external-references/datacalls.yaml
Owners: @digitaljoshua

Update Markdown from ocs-assets-20210726.1
  content/api-reference/assets/assets-asset-status-data.md
  content/api-reference/assets/assets-asset-types.md
  content/api-reference/assets/assets-assets.md
  content/api-reference/assets/assets-request-manager.md
  content/api-reference/assets/assets-resolved-asset.md
Owners: @lassato-OSI
