Repository AVEVA/CONNECT-data-services-developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @digitaljoshua, @osimarkrogers, @lassato-OSI, @VictoriaTouati-AVEVA, @afloresOSI, @dwicinas-osisoft

Updated step for search field.
  content/add-organize-data/organize-data/data-views/data-views.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Updates
  content/api-reference/assets/assets-acl-api.md
Owners: @lassato-OSI

Update Markdown from ocs-metadata-rules-20210802.1
  content/api-reference/asset-rules/asset-access-control-list.md
  content/api-reference/asset-rules/asset-asset-change-data.md
  content/api-reference/asset-rules/asset-asset-rule-errors.md
  content/api-reference/asset-rules/asset-asset-rule-preview.md
  content/api-reference/asset-rules/asset-asset-rule-suggestion.md
  content/api-reference/asset-rules/asset-asset-rules.md
  content/api-reference/asset-rules/asset-rules-internal/asset-rule-admin.md
Owners: @lassato-OSI

Update Markdown from ocs-metadata-rules-20210802.1
  content/api-reference/metadata-rules/metadata-access-control-list.md
  content/api-reference/metadata-rules/metadata-metadata-rule-preview.md
  content/api-reference/metadata-rules/metadata-metadata-rule-suggestion.md
  content/api-reference/metadata-rules/metadata-metadata-rules.md
  content/api-reference/metadata-rules/metadata-rules-internal/metadata-rule-admin.md
Owners: @digitaljoshua

update
  content/api-reference/assets/assets-acl-api.md
Owners: @lassato-OSI

Update Markdown from ocs-metadata-rules-20210803.1
  content/api-reference/asset-rules/asset-asset-change-data.md
Owners: @lassato-OSI

removing backup-restore-authorization by request from Sherlock
  content/external-references/backup-restore-authorization.yaml
Owners: @digitaljoshua

Update Markdown from ocs-metadata-rules-20210803.2
  content/api-reference/asset-rules/asset-asset-change-data.md
Owners: @lassato-OSI

Update Markdown from sds-libraries-20210803.1
  content/api-reference/sequential-data-store/sds-access-control-list.md
  content/api-reference/sequential-data-store/sds-quantities.md
  content/api-reference/sequential-data-store/sds-stream-bulk-data.md
  content/api-reference/sequential-data-store/sds-stream-data-transform.md
  content/api-reference/sequential-data-store/sds-stream-data.md
  content/api-reference/sequential-data-store/sds-stream-views.md
  content/api-reference/sequential-data-store/sds-streams.md
  content/api-reference/sequential-data-store/sds-types.md
  content/api-reference/sequential-data-store/sds-units-of-measure.md
Owners: @digitaljoshua

Update Markdown from ocs-metadata-rules-20210804.1
  content/api-reference/asset-rules/asset-asset-change-data.md
Owners: @lassato-OSI

Update Markdown from ocs-infrastructure-20210804.1
  content/api-reference/tenant/tenant-tenants.md
Owners: @digitaljoshua

Update Markdown from sds-libraries-20210804.1
  content/api-reference/sequential-data-store/sds-access-control-list.md
  content/api-reference/sequential-data-store/sds-stream-bulk-data.md
  content/api-reference/sequential-data-store/sds-stream-data-transform.md
  content/api-reference/sequential-data-store/sds-stream-data.md
Owners: @digitaljoshua

Update Markdown from sds-libraries-20210804.2
  content/api-reference/sequential-data-store/sds-access-control-list.md
  content/api-reference/sequential-data-store/sds-stream-bulk-data.md
  content/api-reference/sequential-data-store/sds-stream-data-transform.md
  content/api-reference/sequential-data-store/sds-stream-data.md
Owners: @digitaljoshua

Vtouati pbi 245008 intro ocs portal (#621)
  content/external-references/backup-restore-authorization.yaml
  content/overview/get-started/introduction-portal-interface.md
  content/overview/images/portal-interface.png
Owners: @digitaljoshua, @lassato-OSI, @afloresOSI

Vtouati pbi 241946 af db domain acct (#620)
  content/add-organize-data/collect-data/connectors/images/details-pane-start-transfer.png
  content/add-organize-data/collect-data/connectors/images/transfer-settings.png
  content/add-organize-data/collect-data/connectors/pi-to-ocs/main-landing-page.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/overview-pi-to-ocs/min-sys-reqmnts.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/overview-pi-to-ocs/pi-to-ocs-overview.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-data-transfers/landing-page3.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-data-transfers/transfer-data-to-ocs.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-log-messages/landing-page5.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-log-messages/toc.yml
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-log-messages/troubleshoot-missing-pida.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/set-up-pi-to-ocs/install-agent.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/toc.yml
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Update Markdown from ocs-data-views-20210804.1
  content/api-reference/data-views/data-views-access-control.md
  content/api-reference/data-views/data-views-data-views-data.md
  content/api-reference/data-views/data-views-data-views-resolved.md
  content/api-reference/data-views/data-views-data-views.md
  content/api-reference/data-views/data-views-preview-data-views-data.md
  content/api-reference/data-views/data-views-preview-data-views-resolved.md
Owners: @osimarkrogers

Development (#622)
  content/add-organize-data/collect-data/connectors/images/details-pane-start-transfer.png
  content/add-organize-data/collect-data/connectors/images/transfer-settings.png
  content/add-organize-data/collect-data/connectors/pi-to-ocs/main-landing-page.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/overview-pi-to-ocs/min-sys-reqmnts.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/overview-pi-to-ocs/pi-to-ocs-overview.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-data-transfers/landing-page3.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-data-transfers/transfer-data-to-ocs.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-log-messages/landing-page5.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-log-messages/toc.yml
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-log-messages/troubleshoot-missing-pida.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/set-up-pi-to-ocs/install-agent.md
  content/add-organize-data/collect-data/connectors/pi-to-ocs/toc.yml
  content/overview/get-started/introduction-portal-interface.md
  content/overview/images/portal-interface.png
Owners: @VictoriaTouati-AVEVA, @afloresOSI, @lassato-OSI

Update Markdown from identity-services.infrastructure-20210804.3
  content/api-reference/community/community-client-credential-clients.md
  content/api-reference/community/community-communities.md
  content/api-reference/community/community-invitations.md
  content/api-reference/community/community-roles.md
  content/api-reference/community/community-tenants.md
  content/api-reference/community/community-users.md
Owners: @digitaljoshua

Update Markdown from identity-services.infrastructure-20210804.3
  content/api-reference/identity/identity-authorization-code-clients.md
  content/api-reference/identity/identity-azure-active-directory-tenants.md
  content/api-reference/identity/identity-claim-type-names.md
  content/api-reference/identity/identity-claims.md
  content/api-reference/identity/identity-client-credential-clients-roles.md
  content/api-reference/identity/identity-client-credential-clients.md
  content/api-reference/identity/identity-device-code-clients.md
  content/api-reference/identity/identity-hybrid-clients.md
  content/api-reference/identity/identity-identity-providers.md
  content/api-reference/identity/identity-implicit-clients.md
  content/api-reference/identity/identity-invitations.md
  content/api-reference/identity/identity-secrets.md
  content/api-reference/identity/identity-tenants-roles.md
  content/api-reference/identity/identity-tenants-users.md
  content/api-reference/identity/identity-users-roles.md
Owners: @digitaljoshua

Update Markdown from ocs-metadata-rules-20210805.1
  content/api-reference/asset-rules/asset-access-control-list.md
  content/api-reference/asset-rules/asset-asset-change-data.md
  content/api-reference/asset-rules/asset-asset-rule-errors.md
  content/api-reference/asset-rules/asset-asset-rule-preview.md
  content/api-reference/asset-rules/asset-asset-rule-suggestion.md
  content/api-reference/asset-rules/asset-asset-rules.md
  content/api-reference/asset-rules/asset-rules-internal/asset-rule-admin.md
Owners: @lassato-OSI

Update Markdown from ocs-metadata-rules-20210805.1
  content/api-reference/metadata-rules/metadata-access-control-list.md
  content/api-reference/metadata-rules/metadata-metadata-rule-preview.md
  content/api-reference/metadata-rules/metadata-metadata-rule-suggestion.md
  content/api-reference/metadata-rules/metadata-metadata-rules.md
  content/api-reference/metadata-rules/metadata-rules-internal/metadata-rule-admin.md
Owners: @digitaljoshua

Update Markdown from ocs-infrastructure-20210805.1
  content/api-reference/tenant/tenant-features.md
  content/api-reference/tenant/tenant-namespaces.md
  content/api-reference/tenant/tenant-root-access-control.md
  content/api-reference/tenant/tenant-service-blog.md
  content/api-reference/tenant/tenant-tenants.md
Owners: @digitaljoshua

Update Markdown from ocs-metadata-rules-20210805.2
  content/api-reference/asset-rules/asset-asset-change-data.md
  content/api-reference/asset-rules/asset-asset-rule-preview.md
  content/api-reference/asset-rules/asset-asset-rule-suggestion.md
Owners: @lassato-OSI

Update Markdown from ocs-metadata-rules-20210805.2
  content/api-reference/metadata-rules/metadata-metadata-rule-preview.md
  content/api-reference/metadata-rules/metadata-metadata-rule-suggestion.md
Owners: @digitaljoshua

Added two json responses in brs-error-responses.yaml for Sherlock.
  content/external-references/brs-error-responses.yaml
Owners: @digitaljoshua

Update Markdown from ocs-monitoring-20210805.1
  content/api-reference/operations/operations-logs.md
Owners: @osimarkrogers

Update Markdown from sds-libraries-20210806.1
  content/api-reference/sequential-data-store/sds-access-control-list.md
  content/api-reference/sequential-data-store/sds-quantities.md
  content/api-reference/sequential-data-store/sds-stream-bulk-data.md
  content/api-reference/sequential-data-store/sds-stream-data-transform.md
  content/api-reference/sequential-data-store/sds-stream-data.md
  content/api-reference/sequential-data-store/sds-stream-views.md
  content/api-reference/sequential-data-store/sds-streams.md
  content/api-reference/sequential-data-store/sds-types.md
  content/api-reference/sequential-data-store/sds-units-of-measure.md
Owners: @digitaljoshua

Use run-in headings per MS style guide
  content/overview/who-uses-ocs.md
Owners: @lassato-OSI, @afloresOSI

Update Markdown from identity-services.infrastructure-20210806.2
  content/api-reference/identity/identity-claim-type-names.md
  content/api-reference/identity/identity-claims.md
Owners: @digitaljoshua

Update Markdown from ocs-infrastructure-20210807.1
  content/api-reference/tenant/tenant-tenants.md
Owners: @digitaljoshua

Vtouati pbi 242473 security bp (#624)
  content/developer-guide/dev-guide-introduction.md
Owners: @digitaljoshua

Update transfer-data-to-ocs.md (#625)
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-data-transfers/transfer-data-to-ocs.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Development (#626)
  content/add-organize-data/collect-data/connectors/pi-to-ocs/pi-to-ocs-data-transfers/transfer-data-to-ocs.md
  content/developer-guide/dev-guide-introduction.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI, @digitaljoshua

added ##ruleId
  content/external-references/common.yaml
Owners: @digitaljoshua

Update Markdown from ocs-assets-20210809.2
  content/api-reference/assets/assets-access-control-list.md
  content/api-reference/assets/assets-asset-status-data.md
  content/api-reference/assets/assets-asset-types.md
  content/api-reference/assets/assets-assets.md
  content/api-reference/assets/assets-request-manager.md
  content/api-reference/assets/assets-resolved-asset-data.md
  content/api-reference/assets/assets-resolved-asset.md
Owners: @lassato-OSI

added ##assetId
  content/external-references/common.yaml
Owners: @digitaljoshua

committing streams-manage to branch
  content/add-organize-data/store-data/streams/streams-manage.md
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Create more-options-wite-background.png
  content/add-organize-data/images/more-options-wite-background.png
Owners: @VictoriaTouati-AVEVA, @afloresOSI

Update Markdown from ocs-metadata-rules-20210810.1
  content/api-reference/asset-rules/asset-access-control-list.md
  content/api-reference/asset-rules/asset-asset-change-data.md
  content/api-reference/asset-rules/asset-asset-rule-errors.md
  content/api-reference/asset-rules/asset-asset-rule-preview.md
  content/api-reference/asset-rules/asset-asset-rule-suggestion.md
  content/api-reference/asset-rules/asset-asset-rules.md
  content/api-reference/asset-rules/asset-rules-internal/asset-rule-admin.md
Owners: @lassato-OSI

Update Markdown from ocs-metadata-rules-20210810.1
  content/api-reference/metadata-rules/metadata-access-control-list.md
  content/api-reference/metadata-rules/metadata-metadata-rule-preview.md
  content/api-reference/metadata-rules/metadata-metadata-rule-suggestion.md
  content/api-reference/metadata-rules/metadata-metadata-rules.md
  content/api-reference/metadata-rules/metadata-rules-internal/metadata-rule-admin.md
Owners: @digitaljoshua

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @digitaljoshua
content/api-reference/sequential-data-store  @digitaljoshua
content/api-reference/identity @digitaljoshua
content/api-reference/management @digitaljoshua
content/api-reference/data-views @osimarkrogers
content/api-reference/metadata @osimarkrogers
content/api-reference/operations @osimarkrogers
content/api-reference/data-ingress @osimarkrogers
content/api-reference/assets @lassato-OSI
content/api-reference/asset-rules @lassato-OSI
content/add-organize-data @VictoriaTouati-AVEVA @afloresOSI
content/communities @dwicinas-osisoft
content/visualize-data @lassato-OSI @afloresOSI
content/rom @lassato-OSI @afloresOSI
content/overview @lassato-OSI @afloresOSI
content/set-up @lassato-OSI @digitaljoshua

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# https://github.blog/2017-07-06-introducing-code-owners/
