Repository AVEVA/CONNECT-data-services-developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @GiselleLeeOSI, @digitaljoshua, @osimarkrogers, @lassato-OSI

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @GiselleLeeOSI
Content_Portal/Documentation/SequentialDataStore @GiselleLeeOSI
Content_Portal/Documentation/Identity @digitaljoshua
Content_Portal/Documentation/Management @digitaljoshua
Content_Portal/Documentation/DataViews @osimarkrogers
Content_Portal/Documentation/Metadata @osimarkrogers
Content_Portal/Documentation/Operations @osimarkrogers
Content_Portal/Documentation/DataIngress @osimarkrogers
Content_Portal/Documentation/Assets @lassato-OSI

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# https://github.blog/2017-07-06-introducing-code-owners/

PI Core -> PI Server
  Content_Portal/Overview/get-started/gs-connections.md
Owners: @GiselleLeeOSI

Build Agent Modified DocFX Site
  Content_Portal/How_To_Guides/PI-to-OCS/Overview-PI-to-OCS/landing-page1.html
  index.json
  manifest.json
Owners: @GiselleLeeOSI

Correcting formatting, PI Core > PI Server, etc
  Content_Portal/Overview/get-started/gs-roles.md
  Content_Portal/add-organize-data/attach-meaning/toc.yml
  Content_Portal/set-up/namespaces-concept.md
  Content_Portal/set-up/namespaces-procedure.md
  Content_Portal/set-up/roles-concept.md
  Content_Portal/set-up/roles-procedure.md
  Content_Portal/set-up/users-concept.md
Owners: @GiselleLeeOSI

Build Agent Modified DocFX Site
  Content_Portal/Documentation/DataViews/DataViewsAPIOverview/Data_API.html
  Content_Portal/Documentation/DataViews/DataViewsAPIOverview/Data_View_API.html
  Content_Portal/Documentation/DataViews/DataViewsAPIOverview/Preview_Data_API.html
  Content_Portal/Documentation/DataViews/DataViewsAPIOverview/Resolved_Data_View_API.html
  Content_Portal/Documentation/DataViews/DataViewsAPIOverview/Resolved_Data_View_Preview_API.html
  Content_Portal/Documentation/DataViews/GetResolvedDataView/Resolved_Data_View.html
  index.json
  manifest.json
Owners: @osimarkrogers, @GiselleLeeOSI

Build Agent Modified DocFX Site
  manifest.json
Owners: @GiselleLeeOSI

Build Agent Modified DocFX Site
  manifest.json
Owners: @GiselleLeeOSI

Correcting formatting, PI Core > PI Server, etc. to set up topics
  Content_Portal/set-up/authorization-code-client-procedure.md
  Content_Portal/set-up/client-credentials-client-procedure.md
  Content_Portal/set-up/clients-concept.md
  Content_Portal/set-up/clients-procedure.md
  Content_Portal/set-up/hybrid-client-procedure.md
  Content_Portal/set-up/roles-concept.md
  Content_Portal/set-up/roles-procedure.md
  Content_Portal/set-up/users-procedure.md
Owners: @GiselleLeeOSI

Correcting formatting, PI Core > PI Server, etc
  Content_Portal/add-organize-data/attach-meaning/assets/convert-asset-to-asset-type.md
  Content_Portal/add-organize-data/attach-meaning/assets/create-asset-from-type.md
  Content_Portal/add-organize-data/attach-meaning/assets/create-asset-type-asset-editor.md
  Content_Portal/add-organize-data/attach-meaning/data-views/data-views.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules-concept.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
  Content_Portal/add-organize-data/collect-data/connectors/omf/omf-connection-procedure.md
  Content_Portal/add-organize-data/store-data/stream-views-concept.md
  Content_Portal/add-organize-data/store-data/streams-procedure.md
  Content_Portal/add-organize-data/store-data/types-procedure.md
  Content_Portal/set-up/client-credentials-client-procedure.md
Owners: @GiselleLeeOSI

Adding back in formatting
  Content_Portal/Overview/get-started/clients/gs-client-authorization-clients.md
  Content_Portal/Overview/get-started/clients/gs-client-credentials-clients.md
  Content_Portal/Overview/get-started/clients/gs-hybrid-clients.md
  Content_Portal/Overview/get-started/connections/gs-pi-to-ocs-connection.md
  Content_Portal/Overview/get-started/gs-namespaces.md
  Content_Portal/Overview/get-started/gs-roles.md
  Content_Portal/Overview/get-started/gs-streams.md
  Content_Portal/Overview/get-started/gs-types.md
  Content_Portal/Overview/get-started/gs-users.md
Owners: @GiselleLeeOSI

Adding UI formatting into getting started topics
  Content_Portal/Overview/get-started/clients/gs-client-authorization-clients.md
  Content_Portal/Overview/get-started/clients/gs-client-credentials-clients.md
  Content_Portal/Overview/get-started/clients/gs-hybrid-clients.md
  Content_Portal/Overview/get-started/connections/gs-omf-connection.md
  Content_Portal/Overview/get-started/connections/gs-pi-to-ocs-connection.md
  Content_Portal/Overview/get-started/gs-roles.md
  Content_Portal/Overview/get-started/gs-streams.md
  Content_Portal/Overview/get-started/gs-types.md
  Content_Portal/Overview/get-started/gs-users.md
Owners: @GiselleLeeOSI

Adding formatting to UI elements in the set up topics, plus fixing formatting errors in the get started topics
  Content_Portal/Overview/get-started/clients/gs-client-authorization-clients.md
  Content_Portal/Overview/get-started/clients/gs-client-credentials-clients.md
  Content_Portal/Overview/get-started/clients/gs-hybrid-clients.md
  Content_Portal/Overview/get-started/gs-namespaces.md
  Content_Portal/set-up/authorization-code-client-procedure.md
  Content_Portal/set-up/client-credentials-client-procedure.md
  Content_Portal/set-up/hybrid-client-procedure.md
  Content_Portal/set-up/namespaces-procedure.md
  Content_Portal/set-up/roles-procedure.md
  Content_Portal/set-up/users-procedure.md
Owners: @GiselleLeeOSI

Adding UI formatting to add and organize procedures
  Content_Portal/add-organize-data/attach-meaning/assets/convert-asset-to-asset-type.md
  Content_Portal/add-organize-data/attach-meaning/assets/create-an-asset.md
  Content_Portal/add-organize-data/attach-meaning/assets/create-asset-from-type.md
  Content_Portal/add-organize-data/attach-meaning/assets/create-asset-type-asset-editor.md
  Content_Portal/add-organize-data/attach-meaning/data-views/data-views.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules-procedure.md
  Content_Portal/add-organize-data/collect-data/connectors/omf/omf-connection-procedure.md
  Content_Portal/add-organize-data/store-data/streams-procedure.md
  Content_Portal/add-organize-data/store-data/types-procedure.md
Owners: @GiselleLeeOSI

Add related links to API doc
  Content_Portal/add-organize-data/attach-meaning/assets/create-an-asset.md
  Content_Portal/add-organize-data/attach-meaning/assets/create-asset-from-type.md
  Content_Portal/add-organize-data/attach-meaning/assets/create-asset-type-asset-editor.md
  Content_Portal/add-organize-data/attach-meaning/data-views/data-views.md
  Content_Portal/set-up/authorization-code-client-procedure.md
  Content_Portal/set-up/client-credentials-client-procedure.md
  Content_Portal/set-up/hybrid-client-procedure.md
  Content_Portal/set-up/roles-procedure.md
  Content_Portal/set-up/users-procedure.md
Owners: @GiselleLeeOSI

Configure stream views (#405)
  Content_Portal/Overview/what-does-ocs-do.md
  Content_Portal/add-organize-data/configure-stream-views.md
Owners: @GiselleLeeOSI

Testing out different locations for tenant and identity concept topics (#396)
  Content_Portal/Concepts/toc.yml
  Content_Portal/Documentation/developer-guide/identity-dev/Access_Control.md
  Content_Portal/Documentation/developer-guide/identity-dev/Roles.md
  Content_Portal/Documentation/developer-guide/identity-dev/credential-management.md
  Content_Portal/Documentation/developer-guide/identity-dev/identity-access-management.md
  Content_Portal/Documentation/developer-guide/identity-dev/least-privilege.md
  Content_Portal/Documentation/developer-guide/identity-dev/toc.yml
  Content_Portal/Documentation/developer-guide/identity-dev/token-management.md
  Content_Portal/Documentation/developer-guide/introduction.md
  Content_Portal/Documentation/developer-guide/tenant-dev/Consent.md
  Content_Portal/Documentation/developer-guide/tenant-dev/tenant-overview.md
  Content_Portal/Documentation/developer-guide/tenant-dev/toc.yml
  Content_Portal/Documentation/developer-guide/toc.yml
  Content_Portal/Documentation/toc.yml
Owners: @GiselleLeeOSI

Keeping RACL in the orginal location
  Content_Portal/Documentation/Access_Control.md
Owners: @GiselleLeeOSI

Update assets documentation
  Content_Portal/Documentation/Assets/asset-centric-data-api.md
  Content_Portal/Documentation/Assets/asset-status.md
  Content_Portal/Documentation/Assets/assets-api.md
  Content_Portal/Documentation/Assets/assets.md
Owners: @lassato-OSI

Update types-best-practices.md
  Content_Portal/add-organize-data/store-data/types-best-practices.md
Owners: @GiselleLeeOSI

Adding external references file
  Content_Portal/external-references/sds.yaml
Owners: @GiselleLeeOSI

Update disable-ie-security.md
  Content_Portal/How_To_Guides/PI-to-OCS/PI-to-OCS-Agent/disable-ie-security.md
Owners: @GiselleLeeOSI

Build Agent Modified DocFX Site
  Content_Portal/Documentation/Identity/Identity_AuthorizationCodeClient.html
  Content_Portal/Documentation/Identity/Identity_HybridClient.html
  Content_Portal/Documentation/Identity/Identity_Secret.html
  Content_Portal/Documentation/Identity/Identity_User.html
  Content_Portal/Documentation/developer-guide/identity-dev/Access_Control.html
  Content_Portal/Documentation/developer-guide/identity-dev/Roles.html
  Content_Portal/Documentation/developer-guide/identity-dev/credential-management.html
  Content_Portal/Documentation/developer-guide/identity-dev/identity-access-management.html
  Content_Portal/Documentation/developer-guide/identity-dev/least-privilege.html
  Content_Portal/Documentation/developer-guide/identity-dev/token-management.html
  Content_Portal/Documentation/developer-guide/introduction.html
  Content_Portal/Documentation/developer-guide/tenant-dev/Consent.html
  Content_Portal/Documentation/developer-guide/tenant-dev/tenant-overview.html
  Content_Portal/toc.html
  index.json
  manifest.json
  xrefmap.yml
Owners: @digitaljoshua, @GiselleLeeOSI

Add subfolders to set-up and add-organize-data folders; moved files, created toc.yml files, updated path to image files, updated titles
  Content_Portal/Developer_Guides/Developer_Guides.md
  Content_Portal/Developer_Guides/toc.yml
  Content_Portal/Overview/get-started/clients/gs-hybrid-clients.md
  Content_Portal/add-organize-data/attach-meaning/assets/about-assets.md
  Content_Portal/add-organize-data/attach-meaning/data-views/data-views.md
  Content_Portal/add-organize-data/store-data/streams/streams-best-practices.md
  Content_Portal/add-organize-data/store-data/streams/streams-concept.md
  Content_Portal/add-organize-data/store-data/streams/streams-procedure.md
  Content_Portal/add-organize-data/store-data/streams/toc.yml
  Content_Portal/add-organize-data/store-data/toc.yml
  Content_Portal/add-organize-data/store-data/types/toc.yml
  Content_Portal/add-organize-data/store-data/types/types-best-practices.md
  Content_Portal/add-organize-data/store-data/types/types-concept.md
  Content_Portal/add-organize-data/store-data/types/types-procedure.md
  Content_Portal/set-up/clients/authorization-code-client-procedure.md
  Content_Portal/set-up/clients/client-credentials-client-procedure.md
  Content_Portal/set-up/clients/clients-concept.md
  Content_Portal/set-up/clients/clients-procedure.md
  Content_Portal/set-up/clients/hybrid-client-procedure.md
  Content_Portal/set-up/clients/toc.yml
  Content_Portal/set-up/namespaces/namespaces-best-practices.md
  Content_Portal/set-up/namespaces/namespaces-concept.md
  Content_Portal/set-up/namespaces/namespaces-procedure.md
  Content_Portal/set-up/namespaces/toc.yml
  Content_Portal/set-up/roles/roles-concept.md
  Content_Portal/set-up/roles/roles-procedure.md
  Content_Portal/set-up/roles/toc.yml
  Content_Portal/set-up/toc.yml
  Content_Portal/set-up/users/toc.yml
  Content_Portal/set-up/users/users-concept.md
  Content_Portal/set-up/users/users-procedure.md
Owners: @GiselleLeeOSI

Deleted empty file, moved stream view files, created stream-views subfolder
  Content_Portal/add-organize-data/How_To_Guides.md
  Content_Portal/add-organize-data/attach-meaning/stream-views/configure-stream-views.md
  Content_Portal/add-organize-data/attach-meaning/stream-views/stream-views-concept.md
Owners: @GiselleLeeOSI

Rename References to StreamReferences
  Content_Portal/Documentation/Asset Rules/asset-rules.md
Owners: @GiselleLeeOSI

Update sds.yaml
  Content_Portal/external-references/sds.yaml
Owners: @GiselleLeeOSI

New intro topic
  Content_Portal/Concepts/Tenant_Management_Concepts.md
  Content_Portal/toc.yml
  toc.yml
Owners: @GiselleLeeOSI

Build Agent Modified DocFX Site
  manifest.json
Owners: @GiselleLeeOSI

Update asset-status.md
  Content_Portal/Documentation/Assets/asset-status.md
Owners: @lassato-OSI

api-reference - identity
  Content_Portal/api-reference/Identity/toc.yml
  Content_Portal/api-reference/identity1234/identity-Implicit-client.md
  Content_Portal/api-reference/identity1234/identity-and-access-management.md
  Content_Portal/api-reference/identity1234/identity-authorization-code-client.md
  Content_Portal/api-reference/identity1234/identity-automation-identity.md
  Content_Portal/api-reference/identity1234/identity-azure-active-directory-tenant.md
  Content_Portal/api-reference/identity1234/identity-claim-type-name.md
  Content_Portal/api-reference/identity1234/identity-claim.md
  Content_Portal/api-reference/identity1234/identity-client-credential-client.md
  Content_Portal/api-reference/identity1234/identity-hybrid-client.md
  Content_Portal/api-reference/identity1234/identity-identity-provider.md
  Content_Portal/api-reference/identity1234/identity-invitation.md
  Content_Portal/api-reference/identity1234/identity-persisted-grant.md
  Content_Portal/api-reference/identity1234/identity-secret.md
  Content_Portal/api-reference/identity1234/identity-user.md
  Content_Portal/api-reference/identity1234/toc.yml
  Content_Portal/api-reference/management1234/Account_Namespace_1.md
  Content_Portal/api-reference/management1234/Account_Role_1.md
  Content_Portal/api-reference/management1234/Account_RootAccessControl_1.md
  Content_Portal/api-reference/management1234/Account_ServiceBlog.md
  Content_Portal/api-reference/management1234/Account_Tenant.md
  Content_Portal/api-reference/management1234/Account_TenantFeatureState.md
  Content_Portal/api-reference/management1234/Account_UserRole_1.md
  Content_Portal/api-reference/management1234/Management_Overview.md
  Content_Portal/api-reference/management1234/account_client-role-1.md
  Content_Portal/api-reference/management1234/toc.yml
Owners: @GiselleLeeOSI

api-reference - management udpate
  Content_Portal/api-reference/Metadata1234/Metadata_Rules_Overview.md
  Content_Portal/api-reference/Operations1234/Operations_Billing Cycles.md
  Content_Portal/api-reference/Operations1234/Operations_Health.md
  Content_Portal/api-reference/Operations1234/Operations_Logs.md
  Content_Portal/api-reference/Operations1234/Operations_Metrics.md
  Content_Portal/api-reference/Operations1234/Operations_Overview.md
  Content_Portal/api-reference/Operations1234/Operations_Resource Usage Data.md
  Content_Portal/api-reference/Operations1234/Operations_Usage Data.md
  Content_Portal/api-reference/Operations1234/toc.yml
  Content_Portal/api-reference/identity/identity-Implicit-client.md
  Content_Portal/api-reference/identity/identity-and-access-management.md
  Content_Portal/api-reference/identity/identity-authorization-code-client.md
  Content_Portal/api-reference/identity/identity-automation-identity.md
  Content_Portal/api-reference/identity/identity-azure-active-directory-tenant.md
  Content_Portal/api-reference/identity/identity-claim-type-name.md
  Content_Portal/api-reference/identity/identity-claim.md
  Content_Portal/api-reference/identity/identity-client-credential-client.md
  Content_Portal/api-reference/identity/identity-hybrid-client.md
  Content_Portal/api-reference/identity/identity-identity-provider.md
  Content_Portal/api-reference/identity/identity-invitation.md
  Content_Portal/api-reference/identity/identity-persisted-grant.md
  Content_Portal/api-reference/identity/identity-secret.md
  Content_Portal/api-reference/identity/identity-user.md
  Content_Portal/api-reference/identity/toc.yml
  Content_Portal/api-reference/management/account-client-role-1.md
  Content_Portal/api-reference/management/account-namespace-1.md
  Content_Portal/api-reference/management/account-role-1.md
  Content_Portal/api-reference/management/account-root-access-control-1.md
  Content_Portal/api-reference/management/account-service-blog.md
  Content_Portal/api-reference/management/account-tenant-feature-state.md
  Content_Portal/api-reference/management/account-tenant.md
  Content_Portal/api-reference/management/account-user-role-1.md
  Content_Portal/api-reference/management/management-overview.md
  Content_Portal/api-reference/management/toc.yml
  Content_Portal/api-reference/management1234/toc.yml
Owners: @GiselleLeeOSI

Updated metadata and operations
  Content_Portal/api-reference/.DS_Store
  Content_Portal/api-reference/Operations1234/toc.yml
  Content_Portal/api-reference/asset-rules/asset-rules.md
  Content_Portal/api-reference/data-ingress/data-ingress.md
  Content_Portal/api-reference/data-views/.DS_Store
  Content_Portal/api-reference/data-views/data-views-overview.md
  Content_Portal/api-reference/metadata/metadata-rules-overview.md
  Content_Portal/api-reference/operations/operations-billing-cycles.md
  Content_Portal/api-reference/operations/operations-health.md
  Content_Portal/api-reference/operations/operations-logs.md
  Content_Portal/api-reference/operations/operations-metrics.md
  Content_Portal/api-reference/operations/operations-overview.md
  Content_Portal/api-reference/operations/operations-resource Usage Data.md
  Content_Portal/api-reference/operations/operations-usage-data.md
  Content_Portal/api-reference/operations/toc.yml
  Content_Portal/api-reference/osisoft-cloud-services.md
  Content_Portal/api-reference/sequential-data-store/Compression.md
  Content_Portal/api-reference/sequential-data-store/Data_Store_and_SDS.md
  Content_Portal/api-reference/sequential-data-store/Filter_Expressions.md
  Content_Portal/api-reference/sequential-data-store/Quick_Start.md
  Content_Portal/api-reference/sequential-data-store/Reading_Data.md
  Content_Portal/api-reference/sequential-data-store/Reading_Data_API.md
  Content_Portal/api-reference/sequential-data-store/SDS_Streams.md
  Content_Portal/api-reference/sequential-data-store/SDS_Types.md
  Content_Portal/api-reference/sequential-data-store/SDS_Views.md
  Content_Portal/api-reference/sequential-data-store/SdsStreamExtra.md
  Content_Portal/api-reference/sequential-data-store/Searching.md
  Content_Portal/api-reference/sequential-data-store/Units_of_Measure.md
  Content_Portal/api-reference/sequential-data-store/Writing_Data.md
  Content_Portal/api-reference/sequential-data-store/Writing_Data_API.md
  Content_Portal/api-reference/sequential-data-store/indexes.md
  Content_Portal/api-reference/sequential-data-store/table_format.md
  Content_Portal/api-reference/sequential-data-store/toc.yml
  Content_Portal/api-reference/toc.yml
Owners: @GiselleLeeOSI

Title update
  Content_Portal/api-reference/operations/operations-overview.md
Owners: @GiselleLeeOSI

Capitalization changes in dev
  Content_Portal/api-reference/asset-rules/asset-rules-api/asset-rules-api.md
  Content_Portal/api-reference/asset-rules/toc.yml
  Content_Portal/api-reference/assets/access-control-api.md
  Content_Portal/api-reference/assets/asset-centric-data-api.md
  Content_Portal/api-reference/assets/toc.yml
  Content_Portal/developer-guide/identity-dev/credential-management.md
  Content_Portal/developer-guide/identity-dev/dev-guide-roles.md
Owners: @GiselleLeeOSI

Removed -1 file suffix
  Content_Portal/api-reference/management/account-client-role.md
  Content_Portal/api-reference/management/account-namespace.md
  Content_Portal/api-reference/management/account-role.md
  Content_Portal/api-reference/management/account-root-access-control.md
  Content_Portal/api-reference/management/account-user-role.md
  Content_Portal/api-reference/management/toc.yml
Owners: @GiselleLeeOSI

Fixed titles
  Content_Portal/api-reference/.DS_Store
  Content_Portal/api-reference/assets/asset-resolved-asset.md
  Content_Portal/api-reference/assets/asset-search-api.md
  Content_Portal/api-reference/assets/asset-status.md
  Content_Portal/api-reference/assets/asset-type.md
  Content_Portal/api-reference/data-ingress/omf-ingress-to-ocs.md
  Content_Portal/api-reference/data-ingress/toc.yml
  Content_Portal/api-reference/data-views/data-views-api-overview/preview-data-api.md
  Content_Portal/api-reference/data-views/preview-data-view-api/preview-data-view-API.md
  Content_Portal/api-reference/identity/identity-and-access-management.md
  Content_Portal/api-reference/identity/identity-authorization-code-client.md
  Content_Portal/api-reference/identity/identity-automation-identity.md
  Content_Portal/api-reference/identity/identity-azure-active-directory-tenant.md
  Content_Portal/api-reference/identity/identity-client-credential-client.md
  Content_Portal/api-reference/identity/identity-hybrid-client.md
  Content_Portal/api-reference/identity/identity-identity-provider.md
  Content_Portal/api-reference/identity/toc.yml
  Content_Portal/api-reference/management/account-service-blog.md
  Content_Portal/api-reference/management/toc.yml
Owners: @GiselleLeeOSI

Pushing changes made to SDS folder and tocs
  Content_Portal/api-reference/sequential-data-store/sds-compression.md
  Content_Portal/api-reference/sequential-data-store/sds-filter-expressions.md
  Content_Portal/api-reference/sequential-data-store/sds-indexes.md
  Content_Portal/api-reference/sequential-data-store/sds-lp.md
  Content_Portal/api-reference/sequential-data-store/sds-quick-start.md
  Content_Portal/api-reference/sequential-data-store/sds-read-data-api.md
  Content_Portal/api-reference/sequential-data-store/sds-read-data.md
  Content_Portal/api-reference/sequential-data-store/sds-search.md
  Content_Portal/api-reference/sequential-data-store/sds-stream-metadata-tags.md
  Content_Portal/api-reference/sequential-data-store/sds-stream-views.md
  Content_Portal/api-reference/sequential-data-store/sds-streams.md
  Content_Portal/api-reference/sequential-data-store/sds-table-format.md
  Content_Portal/api-reference/sequential-data-store/sds-types.md
  Content_Portal/api-reference/sequential-data-store/sds-uom.md
  Content_Portal/api-reference/sequential-data-store/sds-write-data-api.md
  Content_Portal/api-reference/sequential-data-store/sds-write-data.md
  Content_Portal/api-reference/sequential-data-store/toc.yml
  Content_Portal/api-reference/toc.yml
Owners: @GiselleLeeOSI

1. Added api reference and dev guide to the top level toc so I can check in builds 2. Fixed management section in the api-reference toc
  Content_Portal/api-reference/toc.yml
  Content_Portal/toc.yml
Owners: @GiselleLeeOSI

Renamed files in developer-guide folder
  Content_Portal/developer-guide/dev-guide-introduction.md
  Content_Portal/developer-guide/identity-dev/dev-guide-credential-management.md
  Content_Portal/developer-guide/identity-dev/dev-guide-identity-access-management.md
  Content_Portal/developer-guide/identity-dev/dev-guide-least-privilege.md
  Content_Portal/developer-guide/identity-dev/dev-guide-preconfigured-roles.md
  Content_Portal/developer-guide/identity-dev/dev-guide-role-based-access-control.md
  Content_Portal/developer-guide/identity-dev/dev-guide-token-management.md
  Content_Portal/developer-guide/identity-dev/toc.yml
  Content_Portal/developer-guide/tenant-dev/dev-guide-consent.md
  Content_Portal/developer-guide/tenant-dev/dev-guide-tenant-management.md
  Content_Portal/developer-guide/tenant-dev/toc.yml
  Content_Portal/developer-guide/toc.yml
Owners: @GiselleLeeOSI

Small toc.yml correction
  Content_Portal/developer-guide/identity-dev/toc.yml
Owners: @GiselleLeeOSI

Resolved a few warnings
  Content_Portal/api-reference/data-ingress/omf-ingress-topics.md
  Content_Portal/api-reference/data-views/define-a-data-view/field-sets.md
  Content_Portal/api-reference/data-views/get-data-view-data/toc.yml
  Content_Portal/api-reference/images/icon-navigation.png
  Content_Portal/api-reference/operations/operations-resource-usage-data.md
  Content_Portal/api-reference/sequential-data-store/sds-quick-start.md
  Content_Portal/api-reference/toc.yml
  index.md
Owners: @GiselleLeeOSI
