Repository AVEVA/CONNECT-data-services-developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @GiselleLeeOSI, @digitaljoshua, @osimarkrogers, @lassato-OSI

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @GiselleLeeOSI
Content_Portal/Documentation/SequentialDataStore @GiselleLeeOSI
Content_Portal/Documentation/Identity @digitaljoshua
Content_Portal/Documentation/Management @digitaljoshua
Content_Portal/Documentation/DataViews @osimarkrogers
Content_Portal/Documentation/Metadata @osimarkrogers
Content_Portal/Documentation/Operations @osimarkrogers
Content_Portal/Documentation/DataIngress @osimarkrogers
Content_Portal/Documentation/Assets @lassato-OSI

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
# *.js    @octocat @github/js

# You can also use email addresses if you prefer.
# docs/*  docs@example.com

# https://github.blog/2017-07-06-introducing-code-owners/

Cleaning up broken xref links
  Content_Portal/Documentation/Assets/asset-status.md
  Content_Portal/add-organize-data/attach-meaning/assets/create-an-asset.md
  Content_Portal/add-organize-data/store-data/types-concept.md
  Content_Portal/set-up/namespaces-procedure.md
  Content_Portal/set-up/users-concept.md
Owners: @lassato-OSI, @GiselleLeeOSI

Update what-does-ocs-do.md (#386)
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

Updated files in PR #377 and #380
  Content_Portal/Documentation/SequentialDataStore/Reading_Data.md
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

Build Agent Modified DocFX Site
  Content_Portal/Overview/what-does-ocs-do.html
  index.json
  manifest.json
  xrefmap.yml
Owners: @GiselleLeeOSI

Giselle lee osi patch 3 (#388)
  Content_Portal/Documentation/SequentialDataStore/Quick_Start.md
  Content_Portal/Documentation/SequentialDataStore/SDS_Views.md
Owners: @GiselleLeeOSI

Build Agent Modified DocFX Site
  Content_Portal/Documentation/SequentialDataStore/Quick_Start.html
  Content_Portal/Documentation/SequentialDataStore/SDS_Views.html
  index.json
  manifest.json
Owners: @GiselleLeeOSI

reverting master to pre-uid test version
  Content_Portal/Documentation/SequentialDataStore/SDS_Views.md
Owners: @GiselleLeeOSI

Update what-does-ocs-do.md
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

Update SDS_Views.md
  Content_Portal/Documentation/SequentialDataStore/SDS_Views.md
Owners: @GiselleLeeOSI

testing uid still
  Content_Portal/Overview/what-does-ocs-do.md
Owners: @GiselleLeeOSI

Build Agent Modified DocFX Site
  Content_Portal/Documentation/SequentialDataStore/SDS_Views.html
  Content_Portal/Overview/what-does-ocs-do.html
  index.json
  manifest.json
  xrefmap.yml
Owners: @GiselleLeeOSI

Update data-views.md
  Content_Portal/add-organize-data/attach-meaning/data-views/data-views.md
Owners: @GiselleLeeOSI

Update data-views.md
  Content_Portal/add-organize-data/attach-meaning/data-views/data-views.md
Owners: @GiselleLeeOSI

Update data-views.md
  Content_Portal/add-organize-data/attach-meaning/data-views/data-views.md
Owners: @GiselleLeeOSI

Update data-views.md
  Content_Portal/add-organize-data/attach-meaning/data-views/data-views.md
Owners: @GiselleLeeOSI

Add files via upload
  Content_Portal/add-organize-data/images/down arrow.png
Owners: @GiselleLeeOSI

Delete down arrow.png
  Content_Portal/add-organize-data/images/down arrow.png
Owners: @GiselleLeeOSI

Add files via upload
  Content_Portal/add-organize-data/images/down arrow.png
Owners: @GiselleLeeOSI

Add files via upload
  Content_Portal/add-organize-data/images/up arrow.png
Owners: @GiselleLeeOSI

Update data-views.md
  Content_Portal/add-organize-data/attach-meaning/data-views/data-views.md
Owners: @GiselleLeeOSI

Update data-views.md
  Content_Portal/add-organize-data/attach-meaning/data-views/data-views.md
Owners: @GiselleLeeOSI

Delete up arrow.png
  Content_Portal/add-organize-data/images/up arrow.png
Owners: @GiselleLeeOSI

Delete down arrow.png
  Content_Portal/add-organize-data/images/down arrow.png
Owners: @GiselleLeeOSI

Add files via upload
  Content_Portal/add-organize-data/images/down-arrow.png
Owners: @GiselleLeeOSI

Add files via upload
  Content_Portal/add-organize-data/images/up-arrow.png
Owners: @GiselleLeeOSI

Update data-views.md
  Content_Portal/add-organize-data/attach-meaning/data-views/data-views.md
Owners: @GiselleLeeOSI

Delete up-arrow.png
  Content_Portal/add-organize-data/images/up-arrow.png
Owners: @GiselleLeeOSI

Delete down-arrow.png
  Content_Portal/add-organize-data/images/down-arrow.png
Owners: @GiselleLeeOSI

Add files via upload
  Content_Portal/add-organize-data/images/down-arrow.png
Owners: @GiselleLeeOSI

Add files via upload
  Content_Portal/add-organize-data/images/up-arrow.png
Owners: @GiselleLeeOSI

Update data-views.md
  Content_Portal/add-organize-data/attach-meaning/data-views/data-views.md
Owners: @GiselleLeeOSI

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

Adding metatdata rules overview file
  Content_Portal/add-organize-data/attach-meaning/intro-metadata-rules.md
  Content_Portal/add-organize-data/store-data/data-storage-overview.md
Owners: @GiselleLeeOSI

Added generic procedure files for creating client types. Added stream views concept topic. Updated toc.yml files.
  Content_Portal/add-organize-data/store-data/stream-views-concept.md
  Content_Portal/add-organize-data/store-data/toc.yml
  Content_Portal/set-up/authorization-code-client-procedure.md
  Content_Portal/set-up/client-credentials-client-procedure.md
  Content_Portal/set-up/clients-concept.md
  Content_Portal/set-up/clients-procedure.md
  Content_Portal/set-up/hybrid-client-procedure.md
  Content_Portal/set-up/roles-concept.md
  Content_Portal/set-up/roles-procedure.md
  Content_Portal/set-up/toc.yml
  Content_Portal/set-up/users-concept.md
  Content_Portal/set-up/users-procedure.md
Owners: @GiselleLeeOSI

Update Content_Portal/Documentation/Assets/asset-centric-data-api.md
  Content_Portal/Documentation/Assets/asset-centric-data-api.md
Owners: @lassato-OSI

Created subfolders for connections and clients topics, moved files into folders, added toc.yml files, and updated docfx.json file with path to images folders
  Content_Portal/Overview/get-started/clients/gs-client-authorization-clients.md
  Content_Portal/Overview/get-started/clients/gs-client-credentials-clients.md
  Content_Portal/Overview/get-started/clients/gs-hybrid-clients.md
  Content_Portal/Overview/get-started/clients/images/menu-icon.png
  Content_Portal/Overview/get-started/clients/toc.yml
  Content_Portal/Overview/get-started/connections/gs-omf-connection.md
  Content_Portal/Overview/get-started/connections/gs-pi-to-ocs-connection.md
  Content_Portal/Overview/get-started/connections/images/menu-icon.png
  Content_Portal/Overview/get-started/connections/toc.yml
  Content_Portal/Overview/get-started/gs-clients.md
  Content_Portal/Overview/get-started/gs-connections.md
  Content_Portal/Overview/get-started/toc.yml
  docfx.json
Owners: @GiselleLeeOSI

Build Agent Modified DocFX Site
  Content_Portal/Documentation/Assets/asset-centric-data-api.html
  index.json
  manifest.json
Owners: @lassato-OSI, @GiselleLeeOSI

Update metadata-rules.md
  Content_Portal/add-organize-data/attach-meaning/metadata-rules/metadata-rules.md
Owners: @GiselleLeeOSI

PBI 202848 - Calibrate the quick start section. (#385)
  Content_Portal/Documentation/SequentialDataStore/Quick_Start.md
Owners: @GiselleLeeOSI

Added Next Step links
  Content_Portal/Overview/get-started/clients/gs-client-authorization-clients.md
  Content_Portal/Overview/get-started/clients/gs-client-credentials-clients.md
  Content_Portal/Overview/get-started/clients/gs-hybrid-clients.md
  Content_Portal/Overview/get-started/connections/gs-omf-connection.md
  Content_Portal/Overview/get-started/connections/gs-pi-to-ocs-connection.md
  Content_Portal/Overview/get-started/gs-clients.md
  Content_Portal/Overview/get-started/gs-roles.md
  Content_Portal/Overview/get-started/gs-streams.md
  Content_Portal/Overview/get-started/gs-users.md
  Content_Portal/Overview/get-started/toc.yml
Owners: @GiselleLeeOSI
